-if @breadcrumbs.present? && !ActiveRecord::Type::Boolean.new.cast(params[:from_new])
  %nav{'aria-label': 'breadcrumb'}
    %ol.breadcrumb
      -@breadcrumbs.each do |breadcrumb|
        -if breadcrumb[:path].blank?
          %li.breadcrumb-item.active{'aria-current': 'page'}
            = breadcrumb[:display_text]
        -else
          %li.breadcrumb-item
            =link_to breadcrumb[:display_text], breadcrumb[:path]