-#<!-- Global site tag (gtag.js) - Google Analytics -->
= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=#{@service.ga_measurement_id}", async: 'async'
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', "#{@service.ga_measurement_id}");