.flow-step
  %ul.d-flex.justify-content-between.align-items-center
    %li.flow-point{class: "#{'complete' if current_page?(edit_manage_service_path(@service.identifier)) || @flow_point == :manage_service}"}
      =link_to edit_manage_service_path(@service.identifier, from_new: params[:from_new]), class: 'd-flex justify-content-center' do
        %i.fa.flow-number
        %span 基本情報
    %li.middle-line
    %li.flow-point{class: "#{'complete' if current_page?(edit_manage_service_matching_path(@service.identifier)) || @flow_point == :manage_service_matching}"}
      =link_to edit_manage_service_matching_path(@service.identifier, from_new: params[:from_new]), class: 'd-flex justify-content-center' do
        %i.fa.flow-number
        %span マッチング設定
    %li.middle-line
    %li.flow-point{class: "#{'complete' if current_page?(edit_manage_service_price_path(@service.identifier)) || @flow_point == :manage_service_price}"}
      =link_to edit_manage_service_price_path(@service.identifier, from_new: params[:from_new]), class: 'd-flex justify-content-center' do
        %i.flow-number
        %span 価格設定
    %li.middle-line
    %li.flow-point{class: "#{'complete' if current_page?(edit_manage_service_admin_path(@service.identifier)) || @flow_point == :manage_service_admin}"}
      =link_to edit_manage_service_admin_path(@service.identifier, from_new: params[:from_new]), class: 'd-flex justify-content-center' do
        %i.flow-number
        %span 運営情報
    %li.middle-line
    %li.flow-point{class: "#{'complete' if current_page?(edit_manage_service_lp_path(@service.identifier)) || @flow_point == :manage_service_lp}"}
      =link_to edit_manage_service_lp_path(@service.identifier, from_new: params[:from_new]), class: 'd-flex justify-content-center' do
        %i.flow-number
        %span LP設定
    %li.middle-line
    %li.flow-point{class: "#{'complete' if current_page?(edit_manage_service_ui_path(@service.identifier)) || @flow_point == :manage_service_ui}"}
      =link_to edit_manage_service_ui_path(@service.identifier, from_new: params[:from_new]), class: 'd-flex justify-content-center' do
        %i.flow-number
        %span UI・SEO
    %li.middle-line
    %li.flow-point{class: "#{'complete' if current_page?(edit_manage_service_release_path(@service.identifier)) || @flow_point == :manage_service_release}"}
      =link_to edit_manage_service_release_path(@service.identifier, from_new: params[:from_new]), class: 'd-flex justify-content-center' do
        %i.flow-number
        %span 公開設定