.flow-step
  %ul.d-flex.justify-content-between.align-items-center
    %li.complete.flow-point
      =link_to new_manage_service_path, class: 'd-flex justify-content-center' do
        %i.fa.flow-number
        %span 基本情報
    %li.middle-line
    %li.flow-point
      .d-flex.justify-content-center
        %i.fa.flow-number
        %span マッチング設定
    %li.middle-line
    %li.flow-point
      .d-flex.justify-content-center
        %i.flow-number
        %span 価格設定
    %li.middle-line
    %li.flow-point
      .d-flex.justify-content-center
        %i.flow-number
        %span 運営情報
    %li.middle-line
    %li.flow-point
      .d-flex.justify-content-center
        %i.flow-number
        %span LP設定
    %li.middle-line
    %li.flow-point
      .d-flex.justify-content-center
        %i.flow-number
        %span UI・SEO
    %li.middle-line
    %li.flow-point
      .d-flex.justify-content-center
        %i.flow-number
        %span 公開設定