-if @not_exist_subscription && !flash[:exist_credit_card_error]
  #creditCardModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg{:role => "document"}
      .modal-content
        .modal-header{class: "#{'hide' if @from_provider_profile}"}
          %h5#demoModalTitle.modal-title
            %i.fa.fa-thumbs-o-up
            30日間の無料トライアル期間が終了しました
        .modal-body
          .small-box.bg-yellow
            .inner
              %h5
                【ご注意ください】
              %h5
                30日間の無料トライアル期間が終了しました。
                %br<>
                サービスを再開する場合は、お支払い情報をご登録ください。
                %br<>
                %br<>
                なお、ご登録頂きましたサービスについて、トライアル期間終了日から10日後までにお支払い情報のご登録がない場合に停止させていただきます。
                %br<>
                サービスが停止した場合、登録ユーザーのクレジットカード情報・月額プラン登録が解除されます。クレジットカード情報・月額プラン登録が解除された場合、登録ユーザーにて再度ご登録いただく必要がありますことご理解ください。
                %br<>
                %br<>
                サービス停止後にお支払い情報をご登録いただきました場合は、設定画面からサービスを再開することが可能です。
            .icon
              %i.fa.fa-bell-o
          .border-bottom
            .flex-5
              .border-bottom.text-center.font-size-16.font-weight-bold
                支払い情報を登録する
              .p-2
                .mb-3.font-size-14.text-center
                  退会をご希望の場合はクレジットカード情報を削除させていただいております。
                .flex-1
                  = form_with url: pay_tops_path, method: :post, class: 'text-center' do
                    %script.payjp-button{'data-key' => Rails.env.production? ? Rails.application.credentials.payjp[:public_key] : Rails.application.credentials.payjp[:test_public_key], src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を登録して利用する', 'data-submit-text' => '登録'}
                    .mt-2
                      -Payjp::Plan.all[:data].each do |plan|
                        -if plan.id == current_provider.campaign_plan_id
                          ="ご登録プラン：¥#{plan.amount.to_s(:delimited, delimiter: ',')}/月"
                          .font-size-12 ※30日間無料トライアル中に料金は発生しません。
          .mt-2.text-center
            =link_to '本人確認せずに退会をご希望の方はこちら', providers_profile_path
  :javascript
    $('#creditCardModal').modal({backdrop: 'static', keyboard: false, show: true})

-if flash[:exist_credit_card_error]
  #creditCardErrorModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-dialog-centered{:role => "document"}
      .modal-content
        .modal-header
          %h5.modal-title
            %i.fa.fa-exclamation-circle
            登録できませんでした
        .modal-body
          .small-box.bg-red
            .inner
              =flash[:exist_credit_card_error_message]
          .border-bottom
            .flex-5
              .border-bottom.text-center.font-size-16.font-weight-bold
                支払い情報を登録する
              .p-2
                .mb-3.font-size-14.text-center
                  退会をご希望の場合はクレジットカード情報を削除させていただいております。
                .flex-1
                  = form_with url: pay_tops_path, method: :post, class: 'text-center' do
                    %script.payjp-button{'data-key' => Rails.env.production? ? Rails.application.credentials.payjp[:public_key] : Rails.application.credentials.payjp[:test_public_key], src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を登録して利用する', 'data-submit-text' => '登録'}
                    .mt-2
                      -Payjp::Plan.all[:data].each do |plan|
                        -if plan.id == current_provider.campaign_plan_id
                          ="ご登録プラン：¥#{plan.amount.to_s(:delimited, delimiter: ',')}/月"
                          .font-size-12 ※30日間無料トライアル中に料金は発生しません。
          .mt-2.text-center
            =link_to '本人確認せずに退会をご希望の方はこちら', providers_profile_path
  :javascript
    $('#creditCardErrorModal').modal({backdrop: 'static', keyboard: false, show: true})