.post-list
  - posts.each do |post|
    .mb-5
      = link_to(service_post_path(service_identifier: @service.identifier, identifier: post.identifier), class: '') do
        -#【参考】https://adminlte.io/themes/AdminLTE/pages/widgets.html
        .box.box-widget.border
          .box-header.with-border
            .d-flex.justify-content-between
              .d-flex.align-items-center
                .mr-3.icon-image.border
                  -if post.user.profile_image.present?
                    = image_tag post.user.profile_image.url, {class: '', alt: 'User Image'}
                  -else
                    = image_tag 'no_image.png', {class: 'w-100', alt: 'User Image'}
                %h3.font-weight-bold.m-0
                  = post.title
          .box-body
            .d-flex.justify-content-between
              %div
                -if post.category.present?
                  %span.label.common-emphasis-label.p-2.mr-3
                    = post.category.name
                - post.post_tags.each do |post_tag|
                  %span.label.common-emphasis-label.p-2.mr-3
                    = post_tag.tag.name
              .pull-right
                %time.entry-date.text-muted.published= post.updated_at.strftime('%Y/%m/%d')
            .post-list__thumbnail_image_outer
              = image_tag post.main_image.url, {class: 'img-responsive pad'} if post.main_image.present?
            %p.my-5.text-muted
              = ApplicationController.helpers.strip_tags(post.content).truncate(200)
            %span.label.p-2{class: post.stop? ? 'common-normal-label' : 'common-emphasis-label'}
              = post.status_i18n
            %span.pull-right.text-muted
              = "#{@service.apply_action}数：#{post.post_entries.count}"
  = paginate posts