= form_tag search_service_posts_path(service_identifier: @service.identifier), enforce_utf8: false, method: :get, class: 'search-item' do
  .mb-5
    .mb-2
      .font-weight-bold キーワード
    .mb-2
      %input.form-control.search-item__input{name: 'search_word', placeholder: '検索ワード', type: 'text', value: params[:search_word]}

  -if @service.categories.present?
    .mb-5
      .mb-2
        .font-weight-bold カテゴリー
      .mb-2.d-flex.flex-wrap
        -@service.categories.all.each do |category|
          .mr-3.d-flex.common-checkbox
            = check_box_tag 'category_ids[]', category.id, checked = params[:category_ids].present? && params[:category_ids].include?(category.id.to_s),  id: "category_#{category.id}", class: 'cursor-pointer'
            %label{class: "cursor-pointer", for: "category_#{category.id}"}
              =category.name
              %span.common-checkbox__after

  -if @service.tags.present?
    .mb-5
      .mb-2
        .font-weight-bold タグ
      .mb-2.d-flex.flex-wrap
        -@service.tags.all.each do |tag|
          .mr-3.d-flex.common-checkbox
            = check_box_tag 'tag_ids[]', tag.id, checked = params[:tag_ids].present? && params[:tag_ids].include?(tag.id.to_s), id: "tag_#{tag.id}", class: 'cursor-pointer'
            %label{class: "cursor-pointer", for: "tag_#{tag.id}"}
              =tag.name
              %span.common-checkbox__after

  .mb-5
    .mb-2
      .font-weight-bold ステータス
    .mb-2.d-flex.flex-wrap
      -Post.statuses.each do |post_status|
        .mr-3.d-flex.common-checkbox
          = check_box_tag 'post_status[]', Post.statuses[post_status[0]], checked = params[:post_status].present? && params[:post_status].include?(post_status[1].to_s), id: "post_status_#{post_status[0]}", class: 'cursor-pointer'
          = label_tag "post_status_#{post_status[0]}", class: 'cursor-pointer' do
            =Post.statuses_i18n[post_status[0]]
            %span.common-checkbox__after

  = button_tag type: :submit, class: 'common-normal-button btn-block' do
    %span.fas.fa-search
    検索