-if services.blank?
  =render 'layouts/parts/no_service_alert'
-else
  .row
    - services.each do |service|
      .col-lg-4.col-xs-12
        .box
          .box-body
            .h-100px
              -if service.logo_image.present?
                =image_tag service.logo_image.url, class: 'img-responsive h-100'
              -else
                ロゴが設定されていません
            %h3.widget-user-username.text-break= service.name
            .d-flex
              -if service.released?
                .mr-3
                  = link_to service_path(service.identifier), class: 'btn btn-primary', target: '_blank' do
                    サービスへ移動
              .mr-3
                = link_to manage_service_path(service.identifier), class: 'btn btn-success' do
                  サービス設定
          .box-footer
            %ul.nav
              %li.p-2.d-flex
                ユーザー数：
                %span= service.users.count
              %li.p-2.d-flex
                募集アクション数：
                %span= service.posts.count

  = paginate services