<div class="login-box">
  <h3 class="text-center mb-3">新規登録</h3>

  <%= simple_form_for(resource, as: resource_name, url: user_registration_path(service_identifier: @service.identifier)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "email"} %>
      <%= f.input :password,
                  required: true,
                  hint: ("半角#{@minimum_password_length}文字以上" if @minimum_password_length),
                  input_html: {autocomplete: "new-password"} %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: {autocomplete: "new-password"} %>
    </div>

    <%= f.input :service_identifier, required: true, input_html: {value: @service.identifier, class: 'hidden'}, label: false %>

    <div class="form-actions">
      <%= f.submit '登録', class: %w[common-emphasis-button btn-block] %>
    </div>
  <% end %>

  <%= render "services/users/shared/links" %>
</div>