- content_for(:stylesheets) do
  = stylesheet_link_tag 'commercial_transaction/application', {media: 'all'}
.container.commercial_transaction-section
  %h1 特定商取引に関する表記
  %table.table.table-bordered.table-responsive
    %tbody
      %tr
        %th{:scope => "row"} 運営サイト
        %td
          マッチングベース（Matching Base）
          %br<>
          https://matchingbase.com/
      %tr
        %th{:scope => "row"} 販売責任者
        %td 仲村　昌平
      %tr
        %th{:scope => "row"} 所在地
        %td 〒107-0052　東京都港区赤坂9-5-1 ※部屋番号はご請求時に遅延なく開示しております。
      %tr
        %th{:scope => "row"} 電話番号
        %td ※電話番号はご請求時に遅延なく開示しております。
      %tr
        %th{:scope => "row"} お問い合わせ先
        %td matchingbase.service@gmail.com
      %tr
        %th{:scope => "row"} ご利用方法
        %td
          下記ページより会員登録してご利用いただけます。
          %br<>
          = link_to 'https://matchingbase.com/users/sign_up/', logged_in? ? root_path : new_provider_registration_path, onclick: 'gtag_report_conversion_link_sign_up(undefined)'
      %tr
        %th{:scope => "row"} 会員価格
        %td
          月々19,880円(税込)
          %br<>
          ※キャンペーン期間中は上記金額より低くなる場合がございます。
          %br<>
          ※無料トライアル期間に料金は発生しません。トライアル期間終了までに退会手続きがなく、お支払い情報をご登録済みの場合は自動的に有料期間が開始されます。
      %tr
        %th{:scope => "row"} お支払い方法
        %td クレジットカード
      %tr
        %th{:scope => "row"} お支払い時期
        %td クレジットカード：有料期間開始時および1ヶ月ごとの課金時
      %tr
        %th{:scope => "row"} お支払い期限
        %td 各クレジットカード会社の規約に基づく
      %tr
        %th{:scope => "row"} 商品・サービスの引渡し時期
        %td
          会員登録後すぐにご提供
      %tr
        %th{:scope => "row"} 返品・返金について
        %td
          基本的には返品・返金を受け付けておりません。
      %tr
        %th{:scope => "row"} 中途解約の規約
        %td
          マイページの退会手続きから解約が可能です。解約時の次回課金時の請求を最後に請求を停止いたします。尚、日割り分等での返金は承っておりませんのでご了承ください。
      %tr
        %th{:scope => "row"} 表現、及び商品に関する注意書き
        %td
          本サイトで示された表現や再現性には個人差があり、必ずしも利益や効果を保証したものではございません。
      %tr
        %th{:scope => "row"} 個人情報の保護
        %td
          当サイトは利用者の皆様の大切な個人情報の保護に万全を尽くし、法令およびその他の規範を遵守いたします。法律によって要求された場合及び当方の権利や財産を保護する必要が生じた場合を除き第三者に提供することはございません。