- content_for(:stylesheets) do
  = stylesheet_link_tag 'privacy_policy/application', {media: 'all'}
.container.privacy_policy-section
  %h1 プライバシーポリシー
  %h2 個人情報保護方針
  %p 「マッチングベース（Matching Base）」（以下、当サイト）は、当サイトが提供するサービスを安心してご利用頂けるように、ご利用者様の個人情報の重要性について認識し、以下の方針に基づき、ご提供いただきましたご利用者様の個人情報の適切な取扱い及び保護に努めます。
  %h2 個人情報の利用目的
  %p 当サイトでは、ご利用者様の会員登録時や、ご利用者様からのお問い合わせ時に、氏名、メールアドレス、電話番号等の個人情報をご登録いただく場合がございます。
  %p これらの個人情報はご提供いただく際の目的、当サイトからのご連絡や業務のご案内、ご利用者様からのご質問に対する回答に必要な範囲でのみ利用いたします。
  %h2 個人情報の管理
  %p 当サイトは、ご利用者様からお預かりした個人情報を適正かつ慎重に管理し、漏えい、紛失、改ざん等を防止することに努めます。
  %p また、ご利用者様ご自身が個人情報の削除を希望される場合は、すみやかに対応させて頂きます。
  %h2 個人情報の提供・開示
  %p 当サイトは、ご利用者様よりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
  %ul
    %li ・ご利用者様の同意がある場合
    %li ・ご利用者様が希望されるサービスを行なうために当サイトが業務を委託する業者に対して開示する場合
    %li ・法令に基づき当サイトが開示を求められた場合
    %li ・人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
  %h2 個人情報の安全対策
  %p 当サイトは、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
  %h2 ご本人の照会
  %p ご利用者様がご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
  %h2 法令、規範の遵守と見直し
  %p 当サイトは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
  %h2 お問い合せ
  %p 当サイトの個人情報の取扱に関するお問い合せは下記までご連絡ください。
  %p サイト名：マッチングベース（Matching Base）
  %p お問い合わせ先：matchingbase.service@gmail.com