= render 'layouts/parts/manage_edit_service_flow'

.box.box-solid.mt-5
  .box-body
    = form_with url: manage_service_admin_path(identifier: @service.identifier), method: :patch, local: true do |f|
      .js-input-switch.mb-5
        .mb-2
          = f.check_box 'service[admin_enable]', checked: @service.admin_enable, id: 'admin_enable', class: 'js-input-switch-check'
          = label_tag 'service[admin_enable]', Service.human_attribute_name(:admin_enable), class: 'cursor-pointer', for: 'admin_enable'

        .js-input-switch-hidden
          .mb-2
            %label= Service.human_attribute_name(:admin_type)
            = f.select 'service[admin_type]', Service.admin_types.map{ |k, v| [Service.admin_types_i18n[k], k]}, {selected: @service.admin_type.presence || Service.admin_types.first}, {class: 'form-control', id: 'js-admin_type'}

          .mb-2
            %label= Service.human_attribute_name(:admin_name)
            = f.text_area 'service[admin_name]', class: 'form-control', id: 'js-admin_name', value: @service.admin_name, placeholder: '例）株式会社◯◯'

          .mb-2
            %label= Service.human_attribute_name(:admin_contact)
            = f.text_area 'service[admin_contact]', class: 'form-control', id: 'js-admin_contact', value: @service.admin_contact, placeholder: '例）所在地：〇〇 TEL：XX-XXXX-XXXX'

          .mb-2
            %label= Service.human_attribute_name(:admin_url)
            = f.text_field 'service[admin_url]', class: 'form-control', id: 'js-admin_url', disabled: true, value: @service.admin_url

      .js-input-switch.mb-5
        .mb-2
          = f.check_box 'service[terms_enable]', checked: @service.terms_enable, id: 'terms_enable', class: 'js-input-switch-check'
          = label_tag 'service[terms_enable]', Service.human_attribute_name(:terms_enable), class: 'cursor-pointer', for: 'terms_enable'

        .js-input-switch-hidden
          %label= Service.human_attribute_name(:terms_content)
          = f.text_area 'service[terms_content]', class: 'common-rich-editor', value: @service.terms_content

      .js-input-switch.mb-5
        .mb-2
          = f.check_box 'service[privacy_policy_enable]', checked: @service.privacy_policy_enable, id: 'privacy_policy_enable', class: 'js-input-switch-check'
          = label_tag 'service[privacy_policy_enable]', Service.human_attribute_name(:privacy_policy_enable), class: 'cursor-pointer', for: 'privacy_policy_enable'

        .js-input-switch-hidden
          %label= Service.human_attribute_name(:privacy_policy_content)
          = f.text_area 'service[privacy_policy_content]', class: 'common-rich-editor', value: @service.privacy_policy_content

      .js-input-switch.mb-5
        .mb-2
          = f.check_box 'service[commercial_transaction_enable]', checked: @service.commercial_transaction_enable, id: 'commercial_transaction_enable', class: 'js-input-switch-check'
          = label_tag 'service[commercial_transaction_enable]', Service.human_attribute_name(:commercial_transaction_enable), class: 'cursor-pointer', for: 'commercial_transaction_enable'

        .js-input-switch-hidden
          %label= Service.human_attribute_name(:commercial_transaction_content)
          = f.text_area 'service[commercial_transaction_content]', class: 'common-rich-editor', value: @service.commercial_transaction_content

      .js-input-switch.mb-5
        .mb-2
          = f.check_box 'service[contact_form_enable]', checked: @service.contact_form_enable, id: 'contact_form_enable', class: 'js-input-switch-check'
          = label_tag 'service[contact_form_enable]', Service.human_attribute_name(:contact_form_enable), class: 'cursor-pointer', for: 'contact_form_enable'

        .js-input-switch-hidden.mb-2
          %label= Service.human_attribute_name(:contact_form_mail)
          = f.text_field 'service[contact_form_mail]', placeholder: '例）sample@sample.com', class: 'form-control', value: @service.contact_form_mail

        .mt-5
          %label= Service.human_attribute_name(:mail_signature)
          %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: '会員登録完了メールなどユーザー向けメールに載せる署名を設定できます。'} ？
          = f.text_area 'service[mail_signature]', class: 'form-control', value: @service.mail_signature

      = hidden_field_tag(:from_new, params[:from_new])

      -if params[:from_new].present?
        = f.submit 'LP設定に進む', class: 'btn btn-primary'
      -else
        = f.submit '更新する', class: 'btn btn-primary'