-if is_paid
  -if post_entry.unpaid?
    %span.label.common-emphasis-label.p-2.mr-3 支払い待ち
  -elsif post_entry.paid?
    %span.label.common-emphasis-label.p-2.mr-3 入金待ち
  -elsif post_entry.deposited?
    %span.label.common-emphasis-label.p-2.mr-3 入金済み
-else
  -if post_entry.unpaid?
    %span.label.common-emphasis-label.p-2.mr-3 支払い待ち
  -elsif post_entry.paid? || post_entry.deposited?
    %span.label.common-emphasis-label.p-2.mr-3 支払い済