- content_for :stylesheets do
  = stylesheet_link_tag 'user_profile/application', media: 'all'

=render 'services/users/shared/mypage_menu'

.user-profile.mb-5
  %h3.box-title 基本情報
  = simple_form_for(@user, url: service_users_mypage_path(service_identifier: @service.identifier)) do |f|
    = f.submit 'この内容でご登録情報を変更する', class: 'common-emphasis-button pull-right', data: {confirm: '変更しますか？'}
    %label プロフィール画像
    .field.image.mb-4
      .img_field.border.user-profile-image
        - if @user.profile_image.present?
          = image_tag @user.profile_image.url, class: 'img-responsive'
        - else
          %i.fas.fa-user
      = f.file_field :profile_image, class: 'image image_file', style: 'display:none;', accept: 'image/jpeg,image/png'
    .form-inputs.mb-4
      = f.input :email
    .form-inputs
      = f.input :name

.box.box-danger
  .box-header.with-border
    %h3.box-title 退会はこちら
  .box-body
    =form_tag service_users_unsubscribe_path(@service.identifier), :method => :post, :data => {:confirm => ' 退会してもよろしいですか？'} do
      .form-group
        %label
          ご利用いただきまして誠にありがとうございます。
          %br<>
          もしよろしければ、退会の理由を教えていただけますと幸いです。今後のサービス向上のために役立ててまいります。
        %textarea.form-control{name: 'unsubscribe_reason', rows: '3', placeholder: '退会理由'}
      .box-footer
        = submit_tag('退会する', :class => 'btn btn-danger')