= render 'layouts/parts/manage_edit_service_flow'

.box.box-solid.mt-5
  .box-body
    = form_with url: manage_service_lp_path(identifier: @service.identifier), method: :patch, local: true do |f|
      .js-input-switch.mb-5
        .mb-2
          = f.check_box 'service[lp_enable]', checked: @service.lp_enable, id: 'lp_enable', class: 'js-input-switch-check'
          = label_tag 'service[lp_enable]', Service.human_attribute_name(:lp_enable), class: 'cursor-pointer', for: 'lp_enable'
          %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'サービスを紹介するランディングページを作成できます'} ？
        .js-input-switch-hidden
          %label= Service.human_attribute_name(:lp_content)
          = f.text_area 'service[lp_content]', class: 'common-rich-editor', value: @service.lp_content

      = hidden_field_tag(:from_new, params[:from_new])

      -if params[:from_new].present?
        = f.submit 'UI・SEO設定に進む', class: 'btn btn-primary'
      -else
        = f.submit '更新する', class: 'btn btn-primary'