=render 'services/users/shared/mypage_menu'

-if @service.subscription_payment?
  .user-profile.mb-5
    %h3.box-title ご登録情報
  .form-group
    %label.control-label プラン情報
    -if @pay_jp_subscription.blank? || @pay_jp_subscription.status == 'canceled'
      %p
        -if @service.limit_post?
          = "#{@service.post_action}するには以下がかかります"
        -elsif @service.limit_apply?
          = "#{@service.apply_action}するには以下がかかります"
        -elsif @service.limit_post_and_apply?
          = "#{@service.post_action}と#{@service.apply_action}するには以下がかかります"
      -if @pay_jp_subscription.blank? || @pay_jp_subscription.status == 'canceled'
        -Payjp::Plan.all[:data].each do |plan|
          -if plan.id == @service.pay_jp_plan_id
            ="プラン料金：¥#{plan.amount.to_s(:delimited, delimiter: ',')}/#{'月' if plan.interval == 'month'}#{'年' if plan.interval == 'year'}"
            -if plan.trial_days > 0
              .font-size-12
                = "#{plan.trial_days}日間無料トライアル中に料金は発生しません。"
    -else
      %p
        ="プラン料金：¥#{@pay_jp_subscription.plan['amount'].to_s(:delimited, delimiter: ',')}/#{'月' if @pay_jp_subscription.plan['interval'] == 'month'}#{'年' if @pay_jp_subscription.plan['interval'] == 'year'}"
    -if @pay_jp_subscription.blank? || @pay_jp_subscription.status == 'canceled'
      = form_with url: register_plan_service_users_payment_path, local: true, method: :post do
        -if @pay_jp_card.present?
          = button_tag type: :submit, class: 'common-emphasis-button', data: {confirm: 'プランに登録しますか？'} do
            プランに登録する
        -else
          %script.payjp-button{'data-key' => @service.pay_jp_public_key, src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を登録してプランに登録する', 'data-submit-text' => '登録'}
    -else
      = form_with url: cancel_plan_service_users_payment_path, local: true, method: :post do
        = button_tag type: :submit, class: 'common-gray-button', data: {confirm: 'プランを解約しますか？'} do
          プランを解約する