.post-list, .post-show {
  .icon-image {
    width: 40px;
    height: 40px;
    min-width: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    i {
      font-size: 30px;
    }
  }
  .post-list__thumbnail_image_outer {
    max-height: 400px;
    overflow: hidden;
  }
}

.logo-section {
  img {
    max-height: 60px;
    max-width: 200px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.search-item {
  word-break: break-all;
  overflow: scroll;
  height: 700px;
  .search-item__input {
    border-radius: 20px;
    height: 44px;
  }
}

.common-normal-button {
  background: #fff;
  color: #fff;
  border: solid 1px #fff;
  display: inline-block;
  padding: 12px;
  border-radius: 20px;
  transition: all .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.common-emphasis-button {
  background: #fff;
  color: #fff;
  border: solid 1px #fff;
  display: inline-block;
  padding: 12px;
  border-radius: 20px;
  transition: all .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
}

.common-gray-button {
  background: #fff;
  color: #747474;
  border: solid 1px #747474;
  display: inline-block;
  padding: 12px;
  border-radius: 20px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #747474;
    opacity: 0.8;
  }
}

.common-normal-label {
  background-color: #fff;
  color: #fff;
}
.common-emphasis-label {
  background-color: #fff;
  color: #fff;
}

/* common-checkbox */
.common-checkbox {
  input[type=checkbox] {
    display: none;
  }
  label {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
  }
  label::before {
    background: #fff;
    border: 1px solid #231815;
    content: '';
    display: block;
    height: 16px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
  }
  .common-checkbox__after {
    border-right: 3px solid #ed7a9c;
    border-bottom: 3px solid #ed7a9c;
    content: '';
    display: block;
    height: 9px;
    left: 10px;
    margin-top: -7px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    width: 5px;
  }
  input[type=checkbox]:checked + label>.common-checkbox__after {
    opacity: 1;
  }
}

@for $i from 10 through 500 {
  .h-#{$i}px {
    height: $i + px;
  }
  .w-#{$i}px {
    width: $i + px;
  }
  .max-h-#{$i}px {
    max-height: $i + px;
  }
  .max-w-#{$i}px {
    max-width: $i + px;
  }
  .w-#{$i}p {
    width: $i + '%';
  }
}

.border-radius-50-per {
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .header {
    font-size: 10px;
  }
  .col-md-3.left_column {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .search-modal-button {
    display: none;
  }
}