<div class="small-box bg-aqua">
  <div class="inner text-center mb-0">
    こちらから会員登録して
    <br>
    30日間無料でお試しください
  </div>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("半角#{@minimum_password_length}文字以上" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="text-center mb-3">
    <span class="text-muted small">マッチングベースの</span>
    <a class="cursor-pointer small" data-target="#serviceTermsModal" data-toggle="modal" tabindex="-1">利用規約</a>
    <span class="text-muted small">に</span>
    <%= button_tag sanitize('同意して会員登録'), type: 'submit', class: %w[btn btn-success btn-lg btn-block] %>
  </div>
<% end %>

<%= render "providers/shared/links" %>

<div aria-hidden="true" aria-labelledby="modal" class="fade modal" id="serviceTermsModal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">利用規約</h4>
        <button class="btn btn-secondary pull-right" data-dismiss="modal" type="button">閉じる</button>
      </div>
      <div class="modal-body">
        <%= render 'service_terms/content' %>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">閉じる</button>
      </div>
    </div>
  </div>
</div>
