- content_for :stylesheets do
  = stylesheet_link_tag 'user_profile/application', media: 'all'

=render 'services/users/shared/mypage_menu'

.user-profile.mb-5
  %h3.box-title
    口座情報
    %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: '料金の受け取り口座をご登録ください'} ？
  = simple_form_for(@user, url: service_users_bank_path(service_identifier: @service.identifier)) do |f|
    .d-flex.align-content-center.justify-content-end
      = f.submit '変更する', class: 'common-emphasis-button', data: {confirm: '変更しますか？'}
    .form-inputs
      = f.input :bank_name, input_html: {placeholder: '例）みずほ銀行'}
      = f.input :bank_code, input_html: {type: 'number', placeholder: '例）0001'}
      = f.input :bank_branch_name, input_html: {placeholder: '例）本店'}
      = f.input :bank_branch_number, input_html: {type: 'number'}
      = f.input :bank_account_type, input_html: {placeholder: '例）普通'}
      = f.input :bank_account_number, input_html: {type: 'number'}
      = f.input :bank_account_holder
    .form-actions
      = f.submit '変更する', class: 'common-emphasis-button btn-block', data: {confirm: '変更しますか？'}