%h3= "#{@post_entry.user.name}さんからの#{@service.apply_action}です"
%p
  ="#{@service.post_action}ページ"
  %br<>
  =link_to @post.title, Rails.application.routes.url_helpers.service_post_path(service_identifier: @service.identifier, identifier: @post.identifier)
%p
  チャットページ
  %br<>
  =link_to "ROOM#{@chat_room.id}", Rails.application.routes.url_helpers.service_chat_room_path(service_identifier: @service.identifier, identifier: @chat_room.identifier)