-if @post_entry.transaction_payment_margin > 0
  .text-info.mt-4
    ="※運営手数料：#{@post_entry.transaction_payment_margin}%が差し引かれた金額が#{@service.paid_by_post_user? ? @post_entry.user.name : @post_entry.post.user.name}さんに支払われます。"