=render 'services/users/shared/mypage_menu'

.mt-5
  -if @post_entries.blank?
    %p="#{@service.apply_action}はありません"
    =link_to "#{@service.post_action}一覧を見る", service_path(identifier: @service.identifier), class: 'common-emphasis-button'
  -else
    -@post_entries.each do |post_entry|
      =link_to service_post_entry_path(service_identifier: current_user.service_identifier, identifier: post_entry.identifier), class: 'text-dark' do
        .d-flex.border.p-4
          .w-25.px-4
            = image_tag post_entry.post.main_image.url, class: 'img-responsive' if post_entry.post.main_image.present?
          .w-75
            .mb-3
              = render partial: 'services/parts/post_entry_status', locals: {is_paid: @service.paid_by_post_user?, post_entry: post_entry}
            .my-3
              .text-muted= "更新：#{post_entry.post.updated_at.strftime('%Y/%m/%d')}"
            .mb-3
              .mb-1.text-dark
                %h4= post_entry.post.title
              .mb-1.text-dark
                = ApplicationController.helpers.strip_tags(post_entry.post.content).truncate(200)