-if @post_entry.post.user.id == current_user.id
  -if current_user.posts.present?
    .mb-4
      =link_to "< #{@service.post_action}一覧", service_own_posts_path(service_identifier: @service.identifier)
  -# 応募アクションユーザー
  .mb-4
    %label= "#{@service.apply_action}ユーザー"
    .m-0.d-flex.align-items-center
      =@post_entry.user.name
      -chat_member = ChatMember.where(chat_room_id: current_user.chat_members.pluck(:chat_room_id), user_id: @post_entry.user.id)&.first
      -if chat_member.present?
        = link_to service_chat_room_path(service_identifier: current_user.service_identifier, identifier: chat_member.chat_room.identifier), class: 'common-normal-button ml-5' do
          チャットする
  -# 応募日
  .mb-4
    %label 応募日
    .m-0
      =@post_entry.entry_at.strftime('%Y年%m月%d日')
  -# ステータス
  .mb-4
    -if @post_entry.paid? && @service.paid_by_apply_user?
      %span.label.common-emphasis-label.p-2.mr-3
        入金待ち
    -elsif (@post_entry.paid? || @post_entry.deposited?) && @service.paid_by_post_user?
      %span.label.common-emphasis-label.p-2.mr-3
        支払い済

  -# 支払い情報
  -if @post_entry.paid?
    ="金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
    =render 'margin_alert'
  -# -elsif @post_entry.stop? || @post_entry.completed?
    = form_with model: @post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier), local: true do |f|
      = f.select :status, [%w(in_progress in_progress)], {selected: 'in_progress'}, class: 'hidden'
      = f.submit '再開する', class: 'btn btn-info'
  -elsif @post_entry.in_progress?
    .d-flex
      -if @service.transaction_payment
        -if @service.paid_by_apply_user?
          .mt-3
            = simple_form_for @post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier) do |f|
              = f.select :status, [%w(unpaid unpaid)], {selected: 'unpaid'}, class: 'hidden'
              = f.input :price, input_html: {class: '', placeholder: '単位：円', value: @post_entry.post.price}
              = f.submit '支払い待ちにする', class: 'common-emphasis-button'
            =render 'margin_alert'
      -# -else
        .mt-3
          = simple_form_for @post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier) do |f|
            = f.select :status, [%w(completed completed)], {selected: 'completed'}, class: 'hidden'
            = f.submit '完了にする', class: 'btn btn-success'
      -#.mt-3.ml-5.pl-5.border-left
        = form_with model: @post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier), local: true do |f|
          = f.select :status, [%w(stop stop)], {selected: 'stop'}, class: 'hidden'
          = f.submit '停止する', class: 'btn btn-danger'
  -elsif @post_entry.unpaid?
    -if @service.paid_by_post_user?
      %label 支払い
      %p= "金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
      = form_with url: pay_service_users_payment_path, local: true, method: :post, data: {confirm: ' 支払いますか？'} do
        %input{type: 'hidden', name: 'post_entry_identifier', value: @post_entry.identifier}
        = submit_tag('支払う', class: 'common-emphasis-button')
    -else
      = form_with scope: :post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier), method: :patch, local: true do |f|
        = f.hidden_field :status, value: 'unpaid'
        .mb-2
          %label= PostEntry.human_attribute_name(:price)
          = f.number_field :price, value: @post_entry.price, class: 'form-control', placeholder: '単位：円'
        .mb-2
          = f.submit '金額を更新する', class: 'common-emphasis-button'
    =render 'margin_alert'
  -elsif @post_entry.deposited?
    -if @service.paid_by_apply_user?
      %p.mt-3= "金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
      %p.mt-3= "入金金額（税込）：#{@post_entry.deposited_price.to_s(:delimited)} 円"
    -else
      %p.mt-3= "金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
    =render 'margin_alert'
-else
  -if current_user.post_entries.present?
    .mb-4
      =link_to "< #{@service.apply_action}一覧", service_post_entries_path(service_identifier: @service.identifier)
  -# 募集アクションユーザー
  .mb-4
    %label= "#{@service.post_action}ユーザー"
    .d-flex.align-items-center
      = @post_entry.post.user.name
      -chat_member = ChatMember.where(chat_room_id: current_user.chat_members.pluck(:chat_room_id), user_id: @post_entry.user.id)&.first
      -if chat_member.present?
        = link_to service_chat_room_path(service_identifier: current_user.service_identifier, identifier: chat_member.chat_room.identifier), class: 'common-normal-button ml-5' do
          チャットする
  -# 応募日
  .mb-4
    %label= "#{@service.apply_action}日付"
    .m-0
    = @post_entry.entry_at.strftime('%Y年%m月%d日')

  -# ステータス
  .mb-4
    -if @post_entry.paid? && @service.paid_by_post_user?
      %span.label.common-emphasis-label.p-2.mr-3
        入金待ち
    -elsif @post_entry.deposited? && @service.paid_by_post_user?
      %span.label.common-emphasis-label.p-2.mr-3
        入金済み
    -elsif @post_entry.deposited? && @service.paid_by_apply_user?
      %span.label.common-emphasis-label.p-2.mr-3
        支払い済
      -# -else
      -#   =@post_entry.status_i18n

  -# 支払い情報
  -if @post_entry.paid?
    ="金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
    =render 'margin_alert'
  -elsif @post_entry.stop?
    = form_with model: @post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier), local: true do |f|
      = f.select :status, [%w(in_progress in_progress)], {selected: 'in_progress'}, class: 'hidden'
      = f.submit '再開する', class: 'btn btn-info'
  -elsif @post_entry.in_progress?
    -if @service.transaction_payment
      -if @service.paid_by_post_user?
        .mt-3
          = form_with scope: :post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier), method: :patch, local: true do |f|
            = f.hidden_field :status, value: 'unpaid'
            .mb-2
              %label= PostEntry.human_attribute_name(:price)
              = f.number_field :price, class: 'form-control', placeholder: '単位：円'
            .mb-2
              = f.submit '支払い待ちにする', class: 'common-emphasis-button'
            =render 'margin_alert'
    -# -else
      .mt-3
        = simple_form_for @post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier) do |f|
          = f.select :status, [%w(stop stop)], {selected: 'stop'}, class: 'hidden'
          = f.submit '停止する', class: 'btn btn-danger'
  -elsif @post_entry.unpaid?
    -if @service.paid_by_apply_user?
      %label 支払い
      %p= "金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
      = form_with url: pay_service_users_payment_path, local: true, method: :post, data: {confirm: ' 支払いますか？'} do
        %input{type: 'hidden', name: 'post_entry_identifier', value: @post_entry.identifier}
        -#= label_tag('金額')
        -#= text_field_tag(:pay_amount, '', {type: :number})
        = submit_tag('支払う', class: 'common-emphasis-button')
    -else
      = form_with scope: :post_entry, url: service_post_entry_path(service_identifier: @post_entry.post.service_identifier, identifier: @post_entry.identifier), method: :patch, local: true do |f|
        = f.hidden_field :status, value: 'unpaid'
        .mb-2
          %label= PostEntry.human_attribute_name(:price)
          = f.number_field :price, value: @post_entry.price, class: 'form-control', placeholder: '単位：円'
        .mb-2
          = f.submit '金額を更新する', class: 'common-emphasis-button'
    =render 'margin_alert'
  -elsif @post_entry.deposited?
    -if @service.paid_by_post_user?
      %p= "金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
      %p= "入金金額（税込）：#{@post_entry.deposited_price.to_s(:delimited)} 円"
    -else
      %p= "金額（税込）：#{@post_entry.price.to_s(:delimited)} 円"
    =render 'margin_alert'

.mt-5
  %label= "対象の#{@service.post_action}"
  = link_to(service_post_path(service_identifier: @service.identifier, identifier: @post_entry.post.identifier), class: '') do
    .d-flex.border.p-4
      .w-25.px-4
        = image_tag @post_entry.post.main_image.url, class: 'img-responsive' if @post_entry.post.main_image.present?
      .w-75
        .my-3
          .text-muted= "更新：#{@post_entry.post.updated_at.strftime('%Y/%m/%d')}"
        .mb-3
          .mb-1.text-dark
            %h4= @post_entry.post.title
          .mb-1.text-dark
            = ApplicationController.helpers.strip_tags(@post_entry.post.content).truncate(200)