/*
 *= require_tree .
 *= require_self
 */

.commercial_transaction-section {
  padding-top: 100px;
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  table {
    word-break: break-all;
    word-wrap: break-word;
  }
}

#bs-example-navbar-collapse-1 {
  display: none !important;
}

.navbar-toggle {
  display: none !important;
}