<div class="row mt-2 pt-3 border-top">
  <div class="col-md-12 text-center">
    <%- if controller_name != 'sessions' %>
      <%= link_to 'ログインはこちら', new_session_path(resource_name), class: %w[d-block mt-3] %>
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to '新規登録はこちら', new_registration_path(resource_name), class: %w[d-block mt-3] %>
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to 'パスワードを忘れた方はこちら', new_password_path(resource_name), class: %w[d-block mt-3] %>
    <% end %>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to '本登録メールを再送信', new_confirmation_path(resource_name), class: %w[d-block mt-3] %>
    <% end %>

    <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
      <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
      <% end %>
    <% end %>
  </div>
</div>