- content_for :stylesheets do
  = stylesheet_link_tag 'chat/application', media: 'all'

.chat_room
  .container-fluid
    .row
      .col-md-2.border-right.p-0
        .list-group
          - @chat_rooms.each do |chat_room|
            -if chat_room.identifier == @chat_room.identifier
              .p-4.bg-info
                =chat_room.chat_members.where.not(user_id: @user.id)&.first&.user&.name
            -else
              .p-4
                = link_to chat_room_manage_user_path(identifier: @user.identifier, chat_room_identifier: chat_room.identifier), class: 'd-block' do
                  =chat_room.chat_members.where.not(user_id: @user.id)&.first&.user&.name
      .col-md-10
        .direct-chat#chat_messages{"data-chat_room_identifier": "#{@chat_room.identifier}", "data-user_id": "#{@user.id}", "data-service_identifier": "#{@user.service.identifier}"}
          .box-body.chat-messages.p-4
            -@chat_messages.each do |chat_message|
              -if chat_message.user_id == @user.id
                = render partial: 'services/chat_room/own_message', locals: {chat_message: chat_message}
              -else
                = render partial: 'services/chat_room/other_message', locals: {chat_message: chat_message}