-if current_provider.services.blank?
  =render 'layouts/parts/no_service_alert'
-else
  .container-fluid
    .row
      .col-2.p-0
        .list-group
          -current_provider.services.each do |service|
            =link_to service.name, manage_users_path(service_identifier: service.identifier), class: "list-group-item list-group-item-action text-break #{'active' if @service.identifier == service.identifier}"
      .col-10.p-0
        .box.box-solid
          .box-header
            = form_with url: manage_users_path, method: :get, local: true do |f|
              .input-group.d-flex.justify-content-end.align-items-center.py-3
                .m-0
                  %input.form-control{name: 'name', type: 'text', placeholder: 'ニックネーム', value: "#{params[:name] if params.present?}"}
                .ml-4
                  %input.form-control{name: 'email', type: 'text', placeholder: 'メールアドレス', value: "#{params[:email] if params.present?}"}
                .ml-2
                  = f.button :submit, class: 'btn btn-info' do
                    %i.fa.fa-search
              =f.hidden_field :service_identifier, value: params[:service_identifier]
          .box-body.table-responsive.no-padding
            %table.table.no-margin.table-hover
              %thead
                %tr
                  %th アイコン
                  %th ID
                  %th ニックネーム
                  %th メールアドレス
              %tbody
                -if @users.present?
                  -@users.each do |user|
                    %tr.cursor-pointer{onclick: "window.location='#{manage_user_path(user.identifier)}'", role: 'link'}
                      %td.w-100px
                        .border-radius-50-per.overflow-hidden.border.d-flex.align-items-center.justify-content-center.w-100px.h-100px
                          -if user.profile_image.present?
                            = image_tag user.profile_image.url, {class: 'w-100', alt: 'User Image'}
                          -else
                            = image_tag 'no_image.png', {class: 'w-100', alt: 'User Image'}
                      %td
                        =user.identifier
                      %td
                        =user.name
                      %td
                        =user.email