.d-flex.justify-content-between.align-items-center.m-4
  .m-0
    =link_to 'チャット', chat_room_manage_user_path(identifier: @user.identifier), class: 'btn btn-info'
  .m-0
    =link_to '強制退会', manage_user_path(@user.identifier), method: :delete, data: {confirm: '強制退会させますか？'}, class: 'btn btn-danger'

.box.box-solid
  .box-header.with-border
    %h3.box-title 基本情報
  .box-body
    %dl
      %dt= User.human_attribute_name(:profile_image)
      %dd
        .border-radius-50-per.overflow-hidden.border.d-flex.align-items-center.justify-content-center.w-200px.h-200px
          -if @user.profile_image.present?
            = image_tag @user.profile_image.url, {class: 'w-100', alt: 'User Image'}
          -else
            = image_tag 'no_image.png', {class: 'w-100', alt: 'User Image'}
      %dt= User.human_attribute_name(:name)
      %dd= @user.name
      %dt= User.human_attribute_name(:email)
      %dd= @user.email

.box.box-solid
  .box-header.with-border
    %h3.box-title 口座情報
  .box-body
    %dl
      %dt= User.human_attribute_name(:bank_name)
      %dd= @user.bank_name
      %dt= User.human_attribute_name(:bank_code)
      %dd= @user.bank_code
      %dt= User.human_attribute_name(:bank_branch_name)
      %dd= @user.bank_branch_name
      %dt= User.human_attribute_name(:bank_branch_number)
      %dd= @user.bank_branch_number
      %dt= User.human_attribute_name(:bank_account_type)
      %dd= @user.bank_account_type
      %dt= User.human_attribute_name(:bank_account_number)
      %dd= @user.bank_account_number
      %dt= User.human_attribute_name(:bank_account_holder)
      %dd= @user.bank_account_holder

.box.box-solid
  .box-header.with-border
    %h3.box-title クレジットカード・プラン情報
  .box-body
    %dl
      %dt= User.human_attribute_name(:pay_jp_customer_id)
      %dd= @user.pay_jp_customer_id
      %dt= User.human_attribute_name(:pay_jp_subscription_id)
      %dd= @user.pay_jp_subscription_id
      %dt= User.human_attribute_name(:pay_jp_fingerprint)
      %dd= @user.pay_jp_fingerprint