- content_for :scripts do
  = javascript_include_tag 'manage_service_release/application'

= render 'layouts/parts/manage_edit_service_flow'

.box.box-solid.mt-5
  .box-body
    = form_with url: manage_service_release_path(identifier: @service.identifier), method: :patch, local: true do |f|
      .mb-5
        %label= Service.human_attribute_name(:status)
        = f.select 'service[status]', Service.statuses.map{ |k, v| [Service.statuses_i18n[k], k]}, {selected: @service.status}, {class: 'form-control', id: 'js-status', is_released: !@service.pending?}

      = hidden_field_tag(:from_new, params[:from_new])

      = f.submit '更新する', class: 'btn btn-primary', id: 'js-submit'