.container
  .row.d-flex
    .search-modal-button.mb-3.font-size-12
      %a.common-gray-button{'data-target' => '#searchModal', 'data-toggle' => 'modal', tabindex: '-1'}
        %i.fas.fa-search 検索
    .col-md-3.left_column
      .sticky
        = render 'layouts/parts/search'
    .col-md-9
      = render 'layouts/parts/post_list', posts: @posts

#searchModal.modal.fade{'aria-hidden' => 'true', 'aria-labelledby' => 'modal', role: 'dialog', tabindex: '-1'}
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      .modal-header
        %button.btn.pull-right.font-weight-bold.font-size-22{'data-dismiss' => 'modal', type: 'button'} ×
      .modal-body
        = render 'layouts/parts/search'