/*
 *= require_tree .
 *= require_self
 */

.footer {
  font-family:"Open Sans";
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 50px 30px 30px 30px;

  img {
    margin-bottom: 20px;
  }
  p {
    font-size: 13px;
    font-weight: 400;
    color: #A1A1A1;
  }
  a {
    color: #3d69fc;
  }
}

@media only screen and (max-width: 767px) {
  .footer .col-md-3, .footer .col-md-4 {
    margin-bottom: 20px;
  }
}