.box.box-success
  .box-header.with-border
    %h3.box-title ご登録情報
  .box-body
    -if @pay_jp_subscription.present?
      .form-group
        %label.control-label お支払い情報
        %p= "**** **** **** #{@pay_jp_card.last4} - #{@pay_jp_card.exp_month}/#{@pay_jp_card.exp_year}"
        = form_tag(controller: '/tops', action: :change_credit_card, method: :post) do
          %script.payjp-button{'data-key' => Rails.env.production? ? Rails.application.credentials.payjp[:public_key] : Rails.application.credentials.payjp[:test_public_key], src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を変更する', 'data-submit-text' => '登録'}
        ="ご登録中プラン：¥#{@pay_jp_subscription.plan[:amount].to_s(:delimited, delimiter: ',')}/月"
        %br<>
        ="次回のお支払いは#{Time.at(@pay_jp_subscription.current_period_end).strftime('%Y年%m月%d日')}です。"
    -elsif current_provider.trial_expired_at.present? && current_provider.trial_expired_at >= Time.now
      ="30日間無料トライアル中（#{Time.at(current_provider.trial_expired_at).strftime('%Y年%m月%d日')}まで）"
      -if @pay_jp_card.present?
        .form-group
          %label.control-label お支払い情報
          %p= "**** **** **** #{@pay_jp_card.last4} - #{@pay_jp_card.exp_month}/#{@pay_jp_card.exp_year}"
          .text-info
            無料トライアル期間終了後から請求されます。
          = form_tag(controller: '/tops', action: :change_credit_card, method: :post) do
            %script.payjp-button{'data-key' => Rails.env.production? ? Rails.application.credentials.payjp[:public_key] : Rails.application.credentials.payjp[:test_public_key], src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を変更する', 'data-submit-text' => '登録'}
      -else
        .text-info
          お支払い情報をご登録頂いた場合、無料トライアル期間終了後から請求されます。
          %br<>
          ※サービスが停止した場合も、お支払い情報をご登録いただくことで再開が可能です。
          %br<>
          （無料トライアル中に獲得したユーザーの内、有料化したユーザーに関してはサービス停止に伴い登録が解除されてしまうのでご注意ください。）
        = form_with url: register_credit_card_tops_path, method: :post do
          %script.payjp-button{'data-key': Rails.env.production? ? Rails.application.credentials.payjp[:public_key] : Rails.application.credentials.payjp[:test_public_key], src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text': 'お支払い情報を登録する', 'data-submit-text': '登録'}
    -elsif current_provider.trial_expired_at.present? && current_provider.trial_expired_at < Time.now
      -if @pay_jp_card.present?
        -Payjp::Plan.all[:data].each do |plan|
          -if plan.id == current_provider.plan_id
            ="ご登録プラン：¥#{plan.amount.to_s(:delimited, delimiter: ',')}/月"
      -else
        .text-danger トライアル期間が終了しました。
        = form_tag(controller: '/tops', action: :pay, method: :post) do
          %script.payjp-button{'data-key' => Rails.env.production? ? Rails.application.credentials.payjp[:public_key] : Rails.application.credentials.payjp[:test_public_key], src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を登録して利用する', 'data-submit-text' => '登録'}
        .mt-2
          -Payjp::Plan.all[:data].each do |plan|
            -if plan.id == current_provider.plan_id
              ="ご登録プラン：¥#{plan.amount.to_s(:delimited, delimiter: ',')}/月"
    -else
      = form_with url: register_credit_card_tops_path, method: :post do
        %script.payjp-button{'data-key': Rails.env.production? ? Rails.application.credentials.payjp[:public_key] : Rails.application.credentials.payjp[:test_public_key], src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text': 'お支払い情報を登録する', 'data-submit-text': '登録'}
  .box-body
    = simple_form_for(current_provider, url: providers_profile_path) do |f|
      .form-inputs
        = f.input :email
      .form-actions
        = f.submit 'メールアドレスを変更する', class: 'btn btn-primary', data: {confirm: 'メールアドレスを変更するとログイン時に入力するメールアドレスも変更されます。変更しますか？'}

.box.box-danger
  .box-header.with-border
    %h3.box-title 退会はこちら
  .box-body
    =form_tag providers_unsubscribe_path, :method => :post, :data => {:confirm => ' 退会してもよろしいですか？'} do
      .form-group
        %label
          ご利用いただきまして誠にありがとうございます。
          %br<>
          もしよろしければ、退会の理由を教えていただけますと幸いです。今後のサービス向上のために役立ててまいります。
        %textarea.form-control{name: 'unsubscribe_reason', rows: '3', placeholder: '退会理由'}
      .box-footer
        = submit_tag('退会する', :class => 'btn btn-danger')