.container.contact-section
  = render 'layouts/flash'
  .alert.alert-success
    お客さまからのご質問をお問い合わせフォームにて受け付けております。
    %br<>
    必要事項をご入力の上、「送信」を押してください。
    %br<>
    お問い合わせへの回答は「返信先メールアドレス」へお送りしますので、お間違えのないようご入力ください。
  = simple_form_for @contact, url: contact_path do |f|
    = f.input :name, label_html: {class: 'mb-1'}, input_html: {class: ''}, placeholder: 'お名前'
    = f.input :email, as: :email, label_html: {class: 'mb-1'}, input_html: {class: ''}, placeholder: '返信をご希望のアドレス'
    = f.input :message, as: :text, label_html: {class: 'mb-1 mt-2'}, input_html: {rows: '6'}, placeholder: 'お問い合わせの内容'
    = f.submit '送信', data: {confirm: ' 送信しますか？'}, class: %w[btn btn-success btn-lg]