<div class="login-box">
  <h3 class="text-center mb-3">ログイン</h3>

  <%= simple_form_for(resource, as: resource_name, url: user_session_path(service_identifier: @service.identifier)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, label: 'ログイン情報を記憶する', as: :boolean if devise_mapping.rememberable? %>
    </div>

    <input class="hidden" value="<%= @service.identifier %>" name="user[service_identifier]" id="service_identifier">

    <div class="form-actions">
      <%= f.submit 'ログイン', class: %w[common-emphasis-button btn-block my-3] %>
    </div>
  <% end %>

  <%= render "services/users/shared/links" %>
</div>