- content_for :stylesheets do
  = stylesheet_link_tag 'user_profile/application', media: 'all'

=render 'services/users/shared/mypage_menu'

.user-profile.mb-5
  %h3.box-title クレジットカード情報
  -if @pay_jp_card.present?
    %p= "**** **** **** #{@pay_jp_card.last4} - #{@pay_jp_card.exp_month}/#{@pay_jp_card.exp_year}"
    = form_with url: change_credit_card_service_users_payment_path, local: true, method: :post do
      %script.payjp-button{'data-key' => @service.pay_jp_public_key, src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を変更する', 'data-submit-text' => '登録'}
  -else
    = form_with url: register_credit_card_service_users_payment_path, local: true, method: :post do
      -# 参考：https://pay.jp/docs/api/?ruby
      %script.payjp-button{'data-key' => @service.pay_jp_public_key, src: 'https://checkout.pay.jp', type: 'text/javascript', 'data-text' => 'クレジットカード情報を登録して利用する', 'data-submit-text' => '登録'}