= form_with scope: :post, url: manage_post_path(identifier: @post.identifier), method: :patch, local: true do |f|
  .field.image.mb-2
    .img_field
      - if @post.main_image.present?
        = image_tag @post.main_image.url, class: 'img-responsive'
      - else
        %i.fas.fa-image
        %i.fas.fa-file-upload.add
    = f.file_field :main_image, class: 'image image_file', style: 'display:none;', accept: 'image/jpeg,image/png'
    = f.hidden_field :main_image_cache
  .mb-2
    %label= Post.human_attribute_name(:title)
    = f.text_field :title, class: 'form-control'
  .mb-2
    %label= Post.human_attribute_name(:content)
    = f.text_area :content, class: 'common-rich-editor'
  #rich-editor-preview
  .btn.btn-info#rich-editor-preview-button
    プレビュー
  .btn.btn-success#rich-editor-edit-button{style: 'display:none;'}
    編集
  = f.submit '更新する', class: 'btn btn-primary'