-if current_provider.services.blank?
  =render 'layouts/parts/no_service_alert'
-else
  .container-fluid
    .row
      .col-2.p-0
        .list-group
          -current_provider.services.each do |service|
            =link_to service.name, manage_posts_path(service_identifier: service.identifier), class: "list-group-item list-group-item-action text-break #{'active' if @service.identifier == service.identifier}"
      .col-10.p-0
        .box.box-solid
          .box-header
            = form_with url: manage_posts_path, method: :get, local: true do |f|
              .input-group.d-flex.justify-content-end.align-items-center.py-3
                .mb-0
                  更新日：
                .ml-2
                  %input.form-control{name: 'from_date', type: 'date', value: "#{params[:from_date] if params.present?}"}
                .ml-2
                  〜
                .ml-2
                  %input.form-control{name: 'to_date', type: 'date', value: "#{params[:to_date] if params.present?}"}
                .ml-4
                  %input.form-control{name: 'title', type: 'text', placeholder: 'タイトル', value: "#{params[:title] if params.present?}"}
                .ml-2
                  = f.button :submit, class: 'btn btn-info' do
                    %i.fa.fa-search
              =f.hidden_field :service_identifier, value: params[:service_identifier]
          -if @posts.present?
            -@posts.each do |post|
              .d-flex.border.p-4
                .w-25.px-4
                  = link_to(service_post_path(service_identifier: post.service.identifier, identifier: post.identifier), class: '') do
                    = image_tag post.main_image.url, class: 'img-responsive' if post.main_image.present?
                .w-50
                  .my-3
                    -if post.user.unsubscribed?
                      ="#{post.user.name}"
                    -else
                      =link_to manage_user_path(post.user.identifier) do
                        ="#{post.user.name}"
                  .my-3
                    = "更新：#{post.updated_at.strftime('%Y/%m/%d')}"
                  .mb-3
                    = link_to(service_post_path(service_identifier: post.service.identifier, identifier: post.identifier), class: '') do
                      = post.title
                  .mb-3
                    %span.label.common-emphasis-label.p-2.mr-3= post.status_i18n
                  -if post.post_entries.present?
                    .mt-4.pt-3.border-top
                      %label= "#{post.service.apply_action}一覧"
                    -post.post_entries.order(entry_at: :desc).each do |post_entry|
                      .mb-2
                        .span
                          ="#{post_entry.entry_at.strftime('%Y/%m/%d')} "
                          -if post_entry.user.unsubscribed?
                            ="#{post_entry.user.name}さん"
                          -else
                            =link_to manage_user_path(post_entry.user.identifier) do
                              ="#{post_entry.user.name}さん"
                          ="からの#{post.service.apply_action}"
                          .badge.bg-green= post_entry.status_i18n
                          -if post_entry.unpaid?
                            ="金額：#{post_entry.price.to_s(:delimited)}"
                .w-25
                  =link_to '編集', edit_manage_post_path(identifier: post.identifier), class: 'btn btn-success'
                  =link_to '削除', manage_post_path(identifier: post.identifier), method: :delete, data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger'
          -#.box-body.table-responsive.no-padding
            %table.table.no-margin
              %thead
                %tr
                  %th イメージ
                  %th タイトル
                  %th 内容
                  %th ステータス
                  %th 更新日
              %tbody
                -if @posts.present?
                  -@posts.each do |post|
                    %tr
                      %td
                        = image_tag post.main_image.url, {class: 'img-responsive w-50'} if post.main_image.present?
                      %td
                        =post.title
                      %td
                        = ApplicationController.helpers.strip_tags(post.content).truncate(200)
                      %td
                        %span.label{class: post.stop? ? 'label-danger' : 'label-success'}
                          = post.status_i18n
                      %td
                        =post.updated_at.strftime('%Y/%m/%d %H:%M')
                      %td
                        =link_to '編集', edit_manage_post_path(identifier: post.identifier), class: 'btn btn-success'
                      %td
                        =link_to '削除', manage_post_path(identifier: post.identifier), method: :delete, data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger'