%p
  マッチングベースへの仮登録を受け付けました。
  %br<>
  %br<>
  この時点では、本登録が完了しておりませんのでご注意ください。
  %br<>
  以下の「本登録する」にアクセスして、本登録を行ってください。
  %br<>
  %br<>
  = link_to '本登録する', confirmation_url(@resource, confirmation_token: @token)
  %br<>
  %br<>
%p
  = "-------------------------------------------------------------------"
  %br<>
  マッチングベース | Matching Base
  %br<>
  %a{href: 'https://matchingbase.com'}= 'https://matchingbase.com'
  %br<>
  %br<>
  ＜お問い合わせフォーム＞
  %br<>
  %a{href: 'https://matchingbase.com/contacts'}= 'https://matchingbase.com/contacts'
  %br<>
  = "-------------------------------------------------------------------"