<p>マッチングベースをご利用いただきまして誠にありがとうございます。</p>

<p>次のURLからパスワードをリセットしてください。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  -------------------------------------------------------------------<br>
  マッチングベース | Matching Base<br>
  <a href="https://matchingbase.com">https://matchingbase.com</a><br>
  <br>
  ＜お問い合わせフォーム＞<br>
  <a href="https://matchingbase.com/contacts">https://matchingbase.com/contacts</a><br>
  -------------------------------------------------------------------
</p>