%p
  いつもご利用頂き誠にありがとうございます。
  %br<>
  %br<>
  マッチングベースお客様窓口でございます。
  %br<>
  %br<>
  お問い合わせを受け付けましたので回答をお待ち下さい。
%p
  ＜お名前＞
  %br<>
  =@contact.name
%p
  ＜お問い合わせ内容＞
  =simple_format(h(@contact.message))
%p
  ===================================================================
  %br<>
  マッチングベース
  ===================================================================