お世話になっております。

マッチングベースお客様窓口でございます。

お問い合わせを受け付けましたので回答をお待ち下さい。

＜お名前＞
#{@contact.name}

＜お問い合わせ内容＞
#{simple_format(h(@contact.message))}

=================================================================
マッチングベース
=================================================================