/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import "font-awesome";
@import "summernote";

body {
  .main-header {
    .navbar {
      padding: 0 10px;
    }
    .sidebar-toggle {
      padding: 13px 15px;
    }
  }

  .flow-step {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;

    ul {
      list-style: none;
    }
    .flow-point {
      position: relative;
      white-space: nowrap;
      display: flex;
      align-items: center;
      height: 50px;

      a {
        line-height: 0;
      }

      .flow-number {
        line-height: 30px;
        width: 20px;
        height: 20px;
        color: #fff;
        background: #D3D3D3;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
      }

      span {
        font-size: 0.8rem;
        position: absolute;
        bottom: 0;
      }
      .last-flow-span {
        bottom: -8px;
      }

      &.active {
        .flow-number {
          background: #5FABF3;
        }
      }
      &.complete {
        .flow-number {
          width: 30px;
          height: 30px;
          background: #5FABF3;
        }
      }
    }
    .middle-line {
      width: 100%;
      border: solid 1px #D3D3D3;
      height: 2px;
    }
    .middle-line.active {
      border-color: #5FABF3;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

@for $i from 10 through 500 {
  .h-#{$i}px {
    height: $i + px;
  }
  .w-#{$i}px {
    width: $i + px;
  }
  .max-h-#{$i}px {
    max-height: $i + px;
  }
  .max-w-#{$i}px {
    max-width: $i + px;
  }
}

.border-radius-50-per {
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .skin-black {
    .main-header {
      .logo {
        background-color: #fff !important;
        &:hover {
          background-color: #fff !important;
        }
        .logo-lg {
          img {
            max-width: 200px;
          }
        }
      }
    }
  }
  .form-inline {
    flex-flow: initial !important;
  }
}