!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ content: 'IE=edge', 'http-equiv': 'X-UA-Compatible' }
    %meta{ charset: 'utf-8'}
    -#= analytics_init if Rails.env.production?
    %title マッチングサービスを最短１日で作成｜マッチングベース｜Matching Base
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
    %meta{ content: 'マッチングベースはノーコードで最短１日でマッチングサービスを作成できるサービスです。30日間無料トライアル実施中。', name: 'description'}
    %meta{ content: 'マッチングサービス,マッチングベース,Matching Base', name: 'keywords'}
    %link{:href => "https://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag 'service_lp/iland/application', {media: 'all'}
    = stylesheet_link_tag 'bootstrap/application', {media: 'all'}
    -if @noindex
      %meta{:name => 'robots', :content => 'noindex, nofollow'}
    = csrf_meta_tags
    = javascript_include_tag 'service_lp/iland/application'
    = javascript_include_tag 'util/application'
    = yield :scripts
    = yield :stylesheets
    = favicon_link_tag('favicon.ico')
    -#= render 'layouts/ext_script_head'
    -#= render 'layouts/google_ad_conversion_script'
    -# ogp
    %meta{content: image_tag('lp_main_image.png'), property: 'og:image'}
    %meta{content: 'article', property: 'og:type'}
    %meta{content: request.original_url, property: 'og:url'}
    %meta{content: 'マッチングベース｜Matching Base', property: 'og:site_name'}
    %meta{content: 'ja_JP', property: 'og:locale'}

  %body
    .wrapper
      .container
        %nav.navbar.navbar-default.navbar-fixed-top
          .container
            .navbar-header.page-scroll
              %button.navbar-toggle{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              = link_to root_path, class: 'navbar-brand page-scroll' do
                = image_tag 'logo.png', height: '22vw'
            #bs-example-navbar-collapse-1.collapse.navbar-collapse.navbar-right
              %ul.nav.navbar-nav
                %li
                  %a.page-scroll{href: '#what-is'} マッチングベースとは？
                %li
                  %a.page-scroll{href: '#function'} 機能の紹介
                %li
                  %a.page-scroll{href: '#pricing'} 価格
                -#%li
                -#  %a.page-scroll{href: '#how-to-start'} ご利用開始方法
                %li
                  = link_to '登録済みの方はこちら', current_user.present? ? root_path : new_provider_session_path, class: %w[page-scroll]
                %li
                  -#= link_to 'お問い合わせ', contacts_path, class: %w[page-scroll]
      = yield
      = render 'layouts/provider_footer'
      = link_to logged_in? ? root_path : new_provider_registration_path, id: 'back-top', class: 'back-to-top page-scroll btn btn-action btn-lg', style: "display: none;", onclick: 'gtag_report_conversion_link_sign_up(undefined)' do
        %i.fa.fa-hand-o-right
        30日間無料で使ってみる