- content_for :scripts do
  = javascript_include_tag 'manage_service_price/application'

= render 'layouts/parts/manage_edit_service_flow'

.box.box-solid.mt-5
  .box-body
    = form_with url: manage_service_price_path(identifier: @service.identifier), method: :patch, local: true do |f|
      .js-input-switch
        .mb-1
          = f.check_box 'service[transaction_payment]', checked: params[:service].present? ? ActiveRecord::Type::Boolean.new.cast(params[:service][:transaction_payment]) : @service.transaction_payment, id: 'transaction_payment', class: 'js-input-switch-check'
          = label_tag 'service[transaction_payment]', Service.human_attribute_name(:transaction_payment), class: 'cursor-pointer', for: 'transaction_payment'
          %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: '金額はユーザーによりアクションの都度設定されます。'} ？

        .js-input-switch-hidden
          .form-group
            = f.collection_radio_buttons 'service[transaction_payment_type]', Service.transaction_payment_types_i18n, :first, :last, include_hidden: false do |b|
              - content_tag(:div, class: 'wrapper-class') do
                - b.radio_button(class: 'button-class', checked: @service.transaction_payment_type.present? ? b.object[0] == @service.transaction_payment_type : b.object[0] == Service.transaction_payment_types.first[0]) + b.label(class: 'label-class')
          -#.js-input-switch.mb-4
          -#  .mb-1
          -#    = f.check_box 'service[transaction_payment_flat]', checked: params[:service].present? ? ActiveRecord::Type::Boolean.new.cast(params[:service][:transaction_payment_flat]) : @service.transaction_payment_flat, id: 'transaction_payment_flat', class: 'js-input-switch-check'
          -#    = label_tag 'service[transaction_payment_flat]', Service.human_attribute_name(:transaction_payment_flat), class: 'cursor-pointer', for: 'transaction_payment_flat'
          -#    %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: '金額を定額にします。チェックしない場合はユーザーによりアクションの都度設定されます。'} ？
          -#  .js-input-switch-hidden
          -#    .mb-1
          -#      %label= Service.human_attribute_name(:transaction_payment_price)
          -#      = f.text_field 'service[transaction_payment_price]', class: 'form-control', value: @service.transaction_payment_price
          .mb-1
            %label= Service.human_attribute_name(:transaction_payment_margin)
            %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: '運営側（あなた）が受け取る手数料率です。'} ？
            = f.text_field 'service[transaction_payment_margin]', class: 'form-control', value: params[:service].present? ? params[:service][:transaction_payment_margin] : @service.transaction_payment_margin

      .js-input-switch.mb-5
        .mb-1
          = f.check_box 'service[subscription_payment]', checked: params[:service].present? ? ActiveRecord::Type::Boolean.new.cast(params[:service][:subscription_payment]) : @service.subscription_payment, id: 'subscription_payment', class: 'js-input-switch-check'
          = label_tag 'service[subscription_payment]', Service.human_attribute_name(:subscription_payment), class: 'cursor-pointer', for: 'subscription_payment'
          %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'サービスを利用する際にユーザーが月額費用を支払う設定が可能です。'} ？

        .form-group.js-input-switch-hidden
          %label= Service.human_attribute_name(:subscription_payment_limit_type)
          = f.collection_radio_buttons 'service[subscription_payment_limit_type]', Service.subscription_payment_limit_types_i18n, :first, :last, include_hidden: false do |b|
            - content_tag(:div, class: 'wrapper-class') do
              - b.radio_button(class: 'button-class', checked: @service.subscription_payment_limit_type.present? ? b.object[0] == @service.subscription_payment_limit_type : b.object[0] == Service.subscription_payment_limit_types.first[0]) + b.label(class: 'label-class')

      .mb-5
        .mb-1#js-pay_jp_private_key{class: "#{'d-none' unless @service.transaction_payment || @service.subscription_payment || (params[:service].present? && ActiveRecord::Type::Boolean.new.cast(params[:service][:transaction_payment])) || (params[:service].present? && ActiveRecord::Type::Boolean.new.cast(params[:service][:subscription_payment])) }"}
          .alert.alert-info.alert-dismissible
            %p
              有料化する場合、売上を受け取るためにPAY.JPへの登録が必要です。登録方法や決済手数料については以下をご確認ください。
              %br<>
              =link_to 'https://help.hacomono.jp/hc/ja/articles/360046145694-PAY-JP%E3%82%A2%E3%82%AB%E3%82%A6%E3%83%B3%E3%83%88%E3%81%AE%E4%BD%9C%E6%88%90', 'https://pay.jp/plan', {target: '_blank'}
          %label= Service.human_attribute_name(:pay_jp_private_key)
          = f.text_field 'service[pay_jp_private_key]', class: 'form-control', value: params[:service].present? ? params[:service][:pay_jp_private_key] : @service.pay_jp_private_key
        .mb-1#js-pay_jp_public_key{class: "#{'d-none' unless @service.transaction_payment || @service.subscription_payment || (params[:service].present? && ActiveRecord::Type::Boolean.new.cast(params[:service][:transaction_payment])) || (params[:service].present? && ActiveRecord::Type::Boolean.new.cast(params[:service][:subscription_payment])) }"}
          %label= Service.human_attribute_name(:pay_jp_public_key)
          = f.text_field 'service[pay_jp_public_key]', class: 'form-control', value: params[:service].present? ? params[:service][:pay_jp_public_key] : @service.pay_jp_public_key
        .mb-1#js-pay_jp_plan_id{class: "#{'d-none' unless @service.subscription_payment || (params[:service].present? && ActiveRecord::Type::Boolean.new.cast(params[:service][:subscription_payment]))}"}
          %label= Service.human_attribute_name(:pay_jp_plan_id)
          = f.text_field 'service[pay_jp_plan_id]', class: 'form-control', value: params[:service].present? ? params[:service][:pay_jp_plan_id] : @service.pay_jp_plan_id
          .alert.alert-info.alert-dismissible.mt-4
            %p
              プランの作成方法は以下をご確認ください。
              %br<>
              =link_to 'https://pay.jp/plan', 'https://pay.jp/plan', {target: '_blank'}

      = hidden_field_tag(:from_new, params[:from_new])

      -if params[:from_new].present?
        = f.submit '運営情報設定に進む', class: 'btn btn-primary'
      -else
        = f.submit '更新する', class: 'btn btn-primary'