-if chat_message.information_message?
  .mt-3
    %span.direct-chat-timestamp=chat_message.created_at.strftime('%Y/%m/%d %H:%M:%S')
  .p-3.mb-2.bg-info
    =link_to service_post_entry_path(service_identifier: current_user.service_identifier, identifier: chat_message.post_entry.identifier), class: '' do
      ="#{chat_message.post_entry&.user&.name}さんからの#{current_user.service.apply_action}です。"
-else
  .direct-chat-msg.right
    .direct-chat-info.clearfix
      %span.direct-chat-name.pull-right=chat_message.user.name
      %span.direct-chat-timestamp.pull-right.mr-4=chat_message.created_at.strftime('%Y/%m/%d %H:%M:%S')
    .d-flex.justify-content-end
      .direct-chat-text.mr-3
        -if chat_message.text_message?
          =convert_url_into_a_tag(chat_message.content.gsub(/\R/, '<br>')).html_safe
        -elsif chat_message.file_message?
          = link_to download_file_service_chat_room_index_path(service_identifier: chat_message.user.service.identifier, chat_message_id: chat_message.id), class: 'text-center', method: :post do
            .font-size-24
              %i.fa.fa-file
            =chat_message.upload_file.file.filename
      .direct-chat-img
        .border-radius-50-per.overflow-hidden.border.d-flex.align-items-center.justify-content-center.w-50px.h-50px
          -if chat_message.user.profile_image.present?
            =image_tag chat_message.user.profile_image.url, class: 'w-100'
          -else
            = image_tag 'no_image.png', {class: 'w-100', alt: 'User Image'}