=render 'services/users/shared/mypage_menu'
.chat_room
  .container
    .row
      .col-md-2.border-right.p-0
        .list-group
          - @chat_rooms.each do |chat_room|
            .p-4
              = link_to service_chat_room_path(service_identifier: current_user.service_identifier, identifier: chat_room.identifier), class: 'd-block' do
                = "ROOM#{chat_room.id}"
      .col-md-10
        チャットを選んでください