- content_for :stylesheets do
  = stylesheet_link_tag 'chat/application', media: 'all'

=render 'services/users/shared/mypage_menu'
.chat_room
  .container
    .row
      .col-md-2.col-xs-2.border-right.p-0
        .list-group#chat_rooms.overflow-scroll
          - @chat_rooms.each do |chat_room|
            -if chat_room.identifier == @chat_room.identifier
              .px-2.py-4.bg-info
                =chat_room.chat_members.where.not(user_id: current_user.id)&.first&.user&.name
            -else
              .px-2.py-4
                = link_to service_chat_room_path(service_identifier: current_user.service_identifier, identifier: chat_room.identifier), class: 'd-block' do
                  =chat_room.chat_members.where.not(user_id: current_user.id)&.first&.user&.name
      .col-md-10.col-xs-10
        .direct-chat#chat_messages{"data-chat_room_identifier" => "#{@chat_room.identifier}", "data-user_id" => "#{current_user.id}", "data-service_identifier" => "#{@service.identifier}"}
          .box-body.chat-messages.p-4
            -@chat_messages.each do |chat_message|
              -if chat_message.user_id == current_user.id
                = render partial: 'services/chat_room/own_message', locals: {chat_message: chat_message}
              -else
                = render partial: 'services/chat_room/other_message', locals: {chat_message: chat_message}
          .box-footer.border
            %ul#pills-tab.nav.nav-pills.mb-3{role: 'tablist'}
              %li.nav-item.active
                %a#pills-home-tab.nav-link{'aria-controls': 'pills-text', 'aria-selected': true, 'data-toggle': 'pill', href: '#pills-text', role: 'tab'} テキスト
              %li.nav-item
                %a#pills-file-tab.nav-link{'aria-controls': 'pills-file', 'aria-selected': false, 'data-toggle': 'pill', href: '#pills-file', role: 'tab'} ファイル
            #pills-tabContent.tab-content
              #pills-text.tab-pane.fade.active.in{'aria-labelledby': 'pills-text-tab', role: 'tabpanel'}
                %textarea#room_speaker.w-100.form-control{placeholder: 'メッセージ', type: 'text'}
                .mt-2.common-emphasis-button.btn.d-flex.justify-content-center.align-items-center#send-text-button 送信
              #pills-file.tab-pane.fade{'aria-labelledby': 'pills-file-tab', role: 'tabpanel'}
                %input#upload_file{type: 'file'}
                .mt-2.common-emphasis-button.btn.d-flex.justify-content-center.align-items-center#send-file-button 送信