.container.commercial_transaction-section
  %h1 運営情報
  %table.table.table-bordered.table-responsive
    %tbody
      %tr
        %th{:scope => "row"} 運営者名
        %td= @service.admin_name
      %tr
        %th{:scope => "row"} お問い合わせ
        %td= h(@service.admin_contact).gsub(/\R/, "<br>").html_safe