/*
 *= require_tree .
 *= require_self
 */

.service_term-section {
  padding-top: 100px;
  h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  h5 {
    font-size: 18px;
    margin: 30px 0 10px 0;
    font-weight: bold;
  }
}

#bs-example-navbar-collapse-1 {
  display: none !important;
}

.navbar-toggle {
  display: none !important;
}