.price-image {
  position: relative;
  .price-image_content {

    overflow: hidden;
    margin: 100px 0 10px 0 !important;

    .price-image_content-item {
      position: relative;
      display: inline-block;
      width: 48%;
      margin: 0;
      padding: 0.4em 0.5em 0.4em 1.2em;
      text-decoration: none;
      background-color: #3d69fc;
      line-height: 1.4;

      &::after,
      &::before {
        position: absolute;
        top: 50%;
        right: -1.5em;
        margin-top: -1.48em;
        content: '';
        border-top: 1.48em solid transparent;
        border-bottom: 1.48em solid transparent;
        border-left: 1.5em solid;
      }

      &::after {
        z-index: 2;
        border-left-color: #3d69fc;
      }
      &::before {
        z-index: 1;
        right: -1.8em;
        border-left-color: #ffffff;
      }
    }
    @media only screen and (max-width: 767px) {
      .price-image_content-item {
        &::after,
        &::before {
          top: 35%;
          border-top: 2em solid transparent;
          border-bottom: 2em solid transparent;
          border-left: 1.6em solid;
        }
        &::after {
          z-index: 2;
          border-left-color: #3d69fc;
        }
        &::before {
          z-index: 1;
          right: -1.8em;
          border-left-color: #ffffff;
        }
      }
    }

    .price-image_first-item {
      color: #ffffff;
      padding-left: 1em;
      border-radius: 5px 0 0 5px;
    }

    .price-image_last-item {
      color: black;
      background: #a1d6fe;
      border-radius: 0 5px 5px 0;
      &::before,
      &::after {
        content: normal;
      }
    }

    .price-image_first-text {
      position: absolute;
      top: -20px;
      left: -10px;
      font-size: 14px;
    }
    .price-image_emphasis-text {
      position: absolute;
      top: -90px;
      color: #DC6328;
      font-size: 14px;
      font-weight: bold;
      padding: 7px 10px;
      width: 180px;
      background: #fff;
      border-radius: 15px;
      border: 1px solid;
      line-height: 1.4;

      &:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 43%;
        margin-left: -15px;
        border: 15px solid transparent;
        border-top: 15px solid #DC6328;
      }
    }
    @media only screen and (min-width: 768px) {
      .price-image_emphasis-text {
        left: 35%;
      }
    }
    @media only screen and (max-width: 767px) {
      .price-image_emphasis-text {
        left: 24%;
      }
    }

    .price-image_last-text {
      position: absolute;
      top: -20px;
      font-size: 14px;
    }
    @media only screen and (min-width: 768px) {
      .price-image_last-text {
        left: 45%;
      }
    }
    @media only screen and (max-width: 767px) {
      .price-image_last-text {
        left: 42%;
      }
    }
  }
}