-if current_provider.services.blank?
  =render 'layouts/parts/no_service_alert'
-else
  .container-fluid
    .row
      .col-2.p-0
        .list-group
          -current_provider.services.each do |service|
            =link_to manage_payments_path(service_identifier: service.identifier), class: "list-group-item list-group-item-action text-break #{'active' if @service.identifier == service.identifier}" do
              =service.name
              - payment_count = service.post_entries.paid.count
              -if payment_count > 0
                %span.badge.alert-danger.m-0.text-center= payment_count
      .col-10.p-0
        .box.box-solid
          .box-header
            = form_with url: manage_payments_path, method: :get, local: true do |f|
              .input-group.d-flex.justify-content-end.align-items-center.py-3
                .mb-0
                  応募アクション日：
                .ml-2
                  %input.form-control{name: 'from_date', type: 'date', value: "#{params[:from_date] if params.present?}"}
                .ml-2
                  〜
                .ml-2
                  %input.form-control{name: 'to_date', type: 'date', value: "#{params[:to_date] if params.present?}"}
                .ml-4
                  = f.select :status, [['未入金', PostEntry.statuses[:paid]], ['入金済', PostEntry.statuses[:deposited]]], {include_blank: 'すべて', selected: params[:status]}, {class: 'form-control'}
                .ml-2
                  = f.button :submit, class: 'btn btn-info' do
                    %i.fa.fa-search
              =f.hidden_field :service_identifier, value: params[:service_identifier]
          .box-body.table-responsive.no-padding
            %table.table.no-margin
              %thead
                %tr
                  %th ユーザーID
                  %th ニックネーム
                  %th メールアドレス
                  %th 支払金額（税込）
                  %th 支払先
                  %th ステータス
                  %th 応募アクション日
                  %th 募集アクション
              %tbody
                -if @post_entries.present?
                  -@post_entries.each do |post_entry|
                    %tr
                      %td
                        -if post_entry.service.paid_by_post_user?
                          =post_entry.user.identifier
                        -if post_entry.service.paid_by_apply_user?
                          =post_entry.post.user.identifier
                      %td
                        -if post_entry.service.paid_by_post_user?
                          =post_entry.user.name
                        -if post_entry.service.paid_by_apply_user?
                          =post_entry.post.user.name
                      %td
                        -if post_entry.service.paid_by_post_user?
                          =post_entry.user.email
                        -if post_entry.service.paid_by_apply_user?
                          =post_entry.post.user.email
                      %td
                        .mb-2
                          ="#{(post_entry.price * (1 - post_entry.transaction_payment_margin*0.01)).to_i.to_s(:delimited)} 円"
                        .text-muted
                          = "取引金額：#{post_entry.price.to_s(:delimited)} 円"
                        .text-muted
                          = "手数料率：#{post_entry.transaction_payment_margin} %"
                      %td
                        .mb-2
                          %label= User.human_attribute_name(:bank_code)
                          -if post_entry.service.paid_by_post_user?
                            =post_entry.user.bank_name
                          -if post_entry.service.paid_by_apply_user?
                            =post_entry.post.user.bank_name
                        .mb-2
                          %label= User.human_attribute_name(:bank_code)
                          -if post_entry.service.paid_by_post_user?
                            =post_entry.user.bank_code
                          -if post_entry.service.paid_by_apply_user?
                            =post_entry.post.user.bank_code
                        .mb-2
                          %label= User.human_attribute_name(:bank_branch_name)
                          -if post_entry.service.paid_by_post_user?
                            =post_entry.user.bank_branch_name
                          -if post_entry.service.paid_by_apply_user?
                            =post_entry.post.user.bank_branch_name
                        .mb-2
                          %label= User.human_attribute_name(:bank_branch_number)
                          -if post_entry.service.paid_by_post_user?
                            =post_entry.user.bank_branch_number
                          -if post_entry.service.paid_by_apply_user?
                            =post_entry.post.user.bank_branch_number
                        .mb-2
                          %label= User.human_attribute_name(:bank_account_type)
                          -if post_entry.service.paid_by_post_user?
                            =post_entry.user.bank_account_type
                          -if post_entry.service.paid_by_apply_user?
                            =post_entry.post.user.bank_account_type
                        .mb-2
                          %label= User.human_attribute_name(:bank_account_number)
                          -if post_entry.service.paid_by_post_user?
                            =post_entry.user.bank_account_number
                          -if post_entry.service.paid_by_apply_user?
                            =post_entry.post.user.bank_account_number
                        .mb-2
                          %label= User.human_attribute_name(:bank_account_holder)
                          -if post_entry.service.paid_by_post_user?
                            =post_entry.user.bank_account_holder
                          -if post_entry.service.paid_by_apply_user?
                            =post_entry.post.user.bank_account_holder
                      %td
                        -if post_entry.deposited?
                          入金済
                        -elsif post_entry.paid?
                          未入金
                      %td
                        =post_entry.entry_at.strftime('%Y/%m/%d %H:%M')
                      %td
                        = link_to(service_post_path(service_identifier: post_entry.post.service.identifier, identifier: post_entry.post.identifier), class: '') do
                          = post_entry.post.title
                      %td
                        =form_with url: manage_payment_path(post_entry.identifier), method: :patch, local: true do |f|
                          -if post_entry.paid?
                            = f.hidden_field :status, value: PostEntry.statuses[:deposited]
                            = f.submit '入金済にする', data: {confirm: '入金済みにしてもよろしいですか？'}, class: 'btn btn-success'
                          -if post_entry.deposited?
                            = f.hidden_field :status, value: PostEntry.statuses[:paid]
                            = f.submit '未入金にする', data: {confirm: '未入金にしてもよろしいですか？'}, class: 'btn btn-warning'