- content_for :stylesheets do
  = stylesheet_link_tag 'common/application', media: 'all'

= render 'layouts/parts/manage_edit_service_flow'

.box.box-solid.mt-5
  .box-body
    = form_with scope: :service, url: manage_service_ui_path(identifier: @service.identifier), method: :patch, local: true do |f|
      .mb-5
        %label= Service.human_attribute_name(:title)
        = f.text_field 'title', placeholder: 'サイトタイトル', class: 'form-control', value: @service.title
      .mb-5
        %label= Service.human_attribute_name(:description)
        = f.text_area 'description', placeholder: 'サイト概要', class: 'form-control', value: @service.description
      .mb-5
        %label= Service.human_attribute_name(:logo_image)
        .field.image
          .img_field
            - if @service.logo_image.present?
              = image_tag @service.logo_image.url, class: 'img-responsive w-100'
            - else
              %i.fas.fa-image
              %i.fas.fa-file-upload.add
          = f.file_field :logo_image, class: 'image image_file', style: 'display:none;', accept: 'image/jpeg,image/png,image/svg+xml'
          = f.hidden_field :logo_image_cache

      .mb-5
        %label= Service.human_attribute_name(:ogp_image)
        .field.image
          .img_field
            - if @service.ogp_image.present?
              = image_tag @service.ogp_image.url, class: 'img-responsive w-100'
            - else
              %i.fas.fa-image
              %i.fas.fa-file-upload.add
          = f.file_field :ogp_image, class: 'image image_file', style: 'display:none;', accept: 'image/jpeg,image/png,image/svg+xml'
          = f.hidden_field :ogp_image_cache

      .mb-5
        %label= Service.human_attribute_name(:favicon_image)
        .field.image
          .img_field
            - if @service.favicon_image.present?
              = image_tag @service.favicon_image.url, class: 'img-responsive'
            - else
              %i.fas.fa-image
              %i.fas.fa-file-upload.add
          = f.file_field :favicon_image, class: 'image image_file', style: 'display:none;', accept: 'image/jpeg,image/png,image/vnd.microsoft.icon,image/svg+xml'
          = f.hidden_field :favicon_image_cache

      .mb-5
        %label= Service.human_attribute_name(:main_color)
        .m-0
          = f.text_field :main_color, type: 'color', value: "#{@service.main_color.presence || '#5bb0ba'}", class: 'w-200px h-100px'

      .mb-5
        %label= Service.human_attribute_name(:ga_measurement_id)
        .m-0
          = f.text_field :ga_measurement_id, value: @service.ga_measurement_id.presence, placeholder: '', class: 'form-control w-50', placeholder: 'G-から始まるGoogleアナリティクスGA4の計測ID'

      = hidden_field_tag(:from_new, params[:from_new])

      -if params[:from_new].present?
        = f.submit '公開設定に進む', class: 'btn btn-primary'
      -else
        = f.submit '更新する', class: 'btn btn-primary'