= render 'layouts/parts/manage_edit_service_flow'

.box.box-solid.mt-5
  .box-body
    .alert.border-info.bg-white.alert-dismissible
      %h4
        %i.icon.fa.fa-info
        マッチングに必要なアクションに名前をつけてください。
      %p
        マッチングベースでは、「募集アクション」と「応募アクション」という２つアクションによってマッチングを成立させます。
        %br<>
        以下の例を参考にあなたのサービスに合った言葉を設定してください。
        %br<>
        ※設定はいつでも変更できます。
        %br<>
        %br<>
        例１．「企業」と「学生」の採用募集マッチングサービス
        %br<>
        募集アクションに「募集」
        %br<>
        応募アクションに「応募」
        %br<>
        %br<>
        例２．「セミナー開催者」と「セミナー参加者」のマッチングサービス
        %br<>
        募集アクションに「開催」
        %br<>
        応募アクションに「参加」

    = form_with url: manage_service_matching_path(identifier: @service.identifier), method: :patch, local: true do |f|
      .mb-5
        %label= Service.human_attribute_name(:post_action)
        = f.text_field 'service[post_action]', placeholder: '例）募集', class: 'form-control', value: @service.post_action
      .mb-5
        %label= Service.human_attribute_name(:apply_action)
        = f.text_field 'service[apply_action]', placeholder: '例）応募', class: 'form-control', value: @service.apply_action

      .form-group.mb-5
        = hidden_field_tag(:category, true)
        = label_tag('category', 'カテゴリー', {class: 'control-label'})
        %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'ユーザーが募集アクションをとる際に設定できるカテゴリーを追加できます。後からでも設定可能です。'} ？
        .m-0.w-75
          -@service.categories.each do |category|
            .category-input-group
              .mb-3.d-flex
                %input{name: "categories[#{category.id}]", value: category.name, class: 'form-control mr-2'}
                %button.btn.btn-danger.js-delete-category-button{type: 'button'} ☓
          %button.btn.btn-info#js-add-category-button{type: 'button'} ＋ カテゴリーを追加する

      .form-group.mb-5
        = hidden_field_tag(:tag, true)
        = label_tag('tag', 'タグ', {class: 'control-label'})
        %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'ユーザーが募集アクションをとる際に設定できるタグを追加できます。後からでも設定可能です。'} ？
        .m-0.w-75
          -@service.tags.each do |tag|
            .tag-input-group
              .mb-3.d-flex
                %input{name: "tags[#{tag.id}]", value: tag.name, class: 'form-control mr-2'}
                %button.btn.btn-danger.js-delete-tag-button{type: 'button'} ☓
          %button.btn.btn-info#js-add-tag-button{type: 'button'} ＋ タグを追加する

      .form-group.mb-5
        %label 募集アクションテンプレート
        %span.badge.badge-info{type: 'tooltip', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'ユーザーが募集アクションをとる際に利用できるテンプレートを設定できます'} ？
        %textarea{name: :post_template, class: 'common-rich-editor'}= @post_template&.content

      = hidden_field_tag(:from_new, params[:from_new])

      -if params[:from_new].present?
        = f.submit '価格設定に進む', class: 'btn btn-primary'
      -else
        = f.submit '更新する', class: 'btn btn-primary'