= simple_form_for @post, url: service_posts_path(@service.identifier) do |f|
  .form-group.mb-3.pb-3.border-bottom
    = button_tag type: 'submit', data: {confirm: '保存しますか？'}, class: 'common-emphasis-button px-5 mr-3' do
      この内容で保存する
    -#.common-normal-button#rich-editor-preview-button.px-5.py-3
      プレビュー
    .common-normal-button#rich-editor-edit-button.px-5.py-3{style: 'display:none;'}
      編集
  .form-group.mb-3.pb-3.border-bottom
    .mb-4
      .field.image
        .img_field.border
          - if @post.main_image.present?
            = image_tag @post.main_image.url, class: 'img-responsive'
          - else
            %i.fas.fa-image
            %i.fas.fa-file-upload.add
        = f.file_field :main_image, class: 'image image_file', style: 'display:none;', accept: 'image/jpeg,image/png'
      = f.hidden_field :main_image_cache
    = f.input :title
    -if @service.post_templates.present?
      .common-normal-button#js-insert-post-template{'data-service_identifier' => @service.identifier} テンプレートを挿入
    = f.input :content, input_html: {class: 'common-rich-editor'}
    -if @service.transaction_payment? && @service.paid_by_apply_user?
      = f.input :price, input_html: {class: '', placeholder: '単位：円'}
    -if @service.categories.present?
      -@service.categories.all.each do |category|
        %label
          = f.radio_button :category_id, category.id, checked: category.id == @post.category_id
          = category.name
    -if @service.tags.present?
      = f.input :tag_ids, collection: @service.tags.map { |tag| [tag.name, tag.id, checked: @post_tag_ids.present? && @post_tag_ids.include?(tag.id.to_s)] }, as: :check_boxes
    #rich-editor-preview
  = button_tag type: 'submit', data: {confirm: '保存しますか？'}, class: 'common-emphasis-button px-5 mr-3' do
    この内容で保存する