.max-width-800px.margin-0-auto.post-show.mt-5
  .mb-5.d-flex.justify-content-between
    %div
      -if @post.category.present?
        %span.label.common-emphasis-label.p-2.mr-3= @post.category.name
      - @post.post_tags.each do |post_tag|
        %span.label.common-emphasis-label.p-2.mr-3
          = post_tag.tag.name
    .pull-right
      %time.entry-date.text-muted.published= @post.updated_at.strftime('%Y/%m/%d')
  .d-flex.justify-content-between
    .d-flex.align-items-center
      .mr-3.icon-image.border
        -if @post.user.profile_image.present?
          = image_tag @post.user.profile_image.url, {class: '', alt: 'User Image'}
        -else
          = image_tag 'no_image.png', {class: 'w-100', alt: 'User Image'}
      %h3.font-weight-bold.m-0
        = @post.title
  .form-group.my-5.pb-3.border-bottom
    = image_tag @post.main_image.url, {class: 'img-responsive'} if @post.main_image.present?
  .mb-3.pb-3.border-bottom
    -if @post.user == current_user
      .d-flex.align-items-center.justify-content-center
        =link_to '編集する', edit_service_post_path(service_identifier: @service.identifier, identifier: @post.identifier), class: 'common-emphasis-button'
        .ml-3
          =link_to '削除する', service_post_path(service_identifier: @service.identifier, identifier: @post.identifier), method: :delete, data: {confirm: '削除してよろしいですか？'}, class: 'common-gray-button'
        .ml-3
          -if @post.in_progress?
            = form_with model: @post, url: change_status_service_post_path(service_identifier: @service.identifier, identifier: @post.identifier), local: true do |f|
              = f.select :status, [%w(stop stop)], {selected: 'stop'}, class: 'hidden'
              = f.submit '停止する', class: 'common-gray-button'
          -elsif @post.stop?
            = form_with model: @post, url: change_status_service_post_path(service_identifier: @service.identifier, identifier: @post.identifier), local: true do |f|
              = f.select :status, [%w(in_progress in_progress)], {selected: 'in_progress'}, class: 'hidden'
              = f.submit '再開する', class: 'common-emphasis-button'
      -# 応募アクション一覧
      -if @post.post_entries.present?
        .mt-4.pt-3.border-top
          %label= "#{@service.apply_action}一覧"
        -@post.post_entries.order(entry_at: :desc).each do |post_entry|
          =link_to service_post_entry_path(service_identifier: current_user.service_identifier, identifier: post_entry.identifier), class: '' do
            .mb-2
              = "#{post_entry.entry_at.strftime('%Y/%m/%d')} #{post_entry.user.name}さんからの#{@service.apply_action}"
              = render partial: 'services/parts/post_entry_status', locals: {is_paid: @service.paid_by_apply_user?, post_entry: post_entry}
    -if @post.user != current_user && @post.in_progress?
      .d-flex.align-items-center.justify-content-center
        =link_to "#{@service.apply_action}する", service_post_entries_path(post_identifier: @post.identifier), method: :post, class: 'common-emphasis-button', data: {confirm: "#{@service.apply_action}しますか？"}
        .ml-3
          =link_to 'チャットする', service_chat_room_index_path(service_identifier: @service.identifier, post_identifier: @post.identifier), method: :post, class: 'common-normal-button', data: {confirm: 'チャットしますか？'}
  .form-group.mb-3.pb-3.border-bottom
    .mb-5
      = @post.content.html_safe
    -if @service.transaction_payment && @post.price.present?
      .mb-5.border-top.pt-4
        .font-weight-bold
          金額（税込）
        = @post.price.to_s(:delimited)
        円