=render 'services/users/shared/mypage_menu'

%h3="#{@service.post_action}一覧"
-if @own_posts.blank?
  %p="#{@service.post_action}はありません。"
  =link_to "#{@service.post_action}する", new_service_post_path(service_identifier: @service.identifier), class: 'common-emphasis-button'
-else
  -@own_posts.each do |own_post|
    .d-flex.border.p-4
      .w-25.px-4
        = link_to(service_post_path(service_identifier: @service.identifier, identifier: own_post.identifier), class: '') do
          = image_tag own_post.main_image.url, class: 'img-responsive' if own_post.main_image.present?
      .w-75
        .my-3
          = "更新：#{own_post.updated_at.strftime('%Y/%m/%d')}"
        .mb-3
          = link_to(service_post_path(service_identifier: @service.identifier, identifier: own_post.identifier), class: '') do
            = own_post.title
        .mb-3
          %span.label.common-emphasis-label.p-2.mr-3= own_post.status_i18n
        -if own_post.post_entries.present?
          .mt-4.pt-3.border-top
            %label= "#{@service.apply_action}一覧"
          -own_post.post_entries.order(entry_at: :desc).each do |post_entry|
            =link_to service_post_entry_path(service_identifier: current_user.service_identifier, identifier: post_entry.identifier), class: '' do
              .mb-2
                = "#{post_entry.entry_at.strftime('%Y/%m/%d')} #{post_entry.user.name}さんからの#{@service.apply_action}"
                = render partial: 'services/parts/post_entry_status', locals: {is_paid: @service.paid_by_apply_user?, post_entry: post_entry}