/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import "font-awesome";
@import "summernote";

body {
  input.input_exist_check{
    background: #fff;
  }
  input.input_exist_check:not(:placeholder-shown){
    background: rgba(0, 197, 244, 0.20);
  }
  #payjp_checkout_box input[type=button] {
    font-size: 15px;
    margin-right: 5px;
  }
  .main-header {
    .navbar {
      padding: 0 10px;
    }
    .sidebar-toggle {
      padding: 13px 15px;
    }
  }
  .search-condition {
    .form-group {
      margin-bottom: 3px;
    }
  }
  // table関連
  //table {
  //  border-collapse: collapse;
  //  border-spacing: 0;
  //  font-size: 12px;
  //  line-height: 2;
  //  border-bottom: 1px solid #ededed;
  //}
  //table th {
  //  font-weight: bold;
  //}
  //table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
  //  border: 1px solid #f4f4f4;
  //}
  //table tr > th {
  //  padding-right: 20px;
  //  white-space: nowrap;
  //}
  //table td {
  //  padding: 6px 10px 6px 0;
  //  border-top: 1px solid #ededed;
  //  white-space: nowrap;
  //}
  //table .cell-ellipsis {
  //  white-space: nowrap;
  //  overflow: hidden;
  //  text-overflow: ellipsis;
  //  max-width: 0;
  //}
  //.table-light-warning, .table-light-warning > th, .table-light-warning > td {
  //  background-color: #fbf3da;
  //}
  //.table-light-danger, .table-light-danger > th, .table-light-danger > td {
  //  background-color: #f7dbde;
  //}
  // スクロールバーを常に表示するため
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
  .sticky-table {
    display: block;
    position: relative;
    overflow: scroll;
    height: calc(70vh);
    border-collapse: collapse;
    table-layout: fixed;
    thead,tbody {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }
    /* Edge */
    @supports (-ms-ime-align: auto) {
      thead tr th {
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        z-index: 2;
      }
    }
    /* IE10以降 */
    @media all and (-ms-high-contrast: none) {
      thead tr th {
        position: -webkit-sticky;
        position: sticky;
        top: -1px;
        z-index: 2;
      }
    }
    thead {
      position: -webkit-sticky;
      position: sticky;
      top: 0px;
      z-index: 2;
      th.sticky-table-fixed {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
      }
    }
    tbody {
      th {
        //position: -webkit-sticky;
        //position: sticky;
        left: 0;
        z-index: 1;
      }
    }
  }

  // テーブルソート
  .tablesorter-default {
    .header, .tablesorter-header {
      background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
      background-position: center right;
      background-repeat: no-repeat;
      cursor: pointer;
      padding: 10px 18px 10px 6px;
    }
    thead {
      .headerSortUp, .tablesorter-headerAsc, .tablesorter-headerSortUp {
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
      }
      .headerSortDown, .tablesorter-headerDesc, .tablesorter-headerSortDown {
        background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
      }
    }
  }

  .cursor-pointer {
    cursor: pointer;
  }
  .over-flow-scroll {
    overflow: scroll;
  }
  // table関連ここまで
}

@media only screen and (max-width: 767px) {
  .skin-black {
    .main-header {
      .logo {
        background-color: #fff !important;
        &:hover {
          background-color: #fff !important;
        }
        .logo-lg {
          img {
            max-width: 200px;
          }
        }
      }
    }
  }
  .form-inline {
    flex-flow: initial !important;
  }
}

.cursor-pointer {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

#serviceTermsModal {
  .modal-header {
    position: fixed;
    background: #ffffff;
    z-index: 99;
    left: 8px;
    right: 11px;
    max-width: 800px;
    margin: 0 auto;
    top: 0;
  }
  .modal-body {
    padding-top: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .table>tbody>tr>th, .table>tbody>tr>td{
    max-width: 250px;
    word-wrap: break-word;
  }
}
//@media only screen and (min-width: 768px) {
//  .table>tbody>tr>th, .table>tbody>tr>td{
//    max-width: 400px;
//    word-wrap: break-word;
//  }
//}
.table-loading-cover {
  position: absolute;
  background: #ffffffa6;
  z-index: 9;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
  font-weight: bold;
}

$font-size-list: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25;
@each $size in $font-size-list {
  .font-size-#{$size} {
    font-size: #{$size}px !important;
  }
}

$flex-size-list: 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15;
@each $size in $flex-size-list {
  .flex-#{$size} {
    flex: $size;
  }
}