.header {
  margin-top: 3rem;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
  }
}
.d-flex {
  display: flex;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}
.main-header {
  .sidebar-toggle {
    font-family: "Font Awesome 5 Free";
    &:before {
      content: "\f007";
    }
  }
}
.max-width-800px {
  max-width: 800px;
}
.margin-0-auto {
  margin: 0 auto;
}

.post_content, #rich-editor-preview {
  video {
    max-width: 100%;
  }
  p {
    margin: 0;
  }
}

.overflow-scroll {
  overflow: scroll;
}

.alert-message-outer {
  position: relative;
  .alert-message {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
  }
}
