.img_field {
  font-size: 15px;
  margin-top: 10px;
  border: solid 1px #5bb0ba;
  color: #666;
  position: relative;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  text-align: center;

  i {
    font-size: 100px;
    color: #747474;
    line-height: 250px;
    transition: 0.3s ease-out;
  }
  .add {
    display: none;
    font-size: 50px;
    position: absolute;
    top: -90px;
    right: 15px;
  }
  &:hover {
    background-color: #747474;
    transition: 0.3s ease-out;
    opacity: 0.9;

    i {
      transition: 0.3s ease-out;
      display: block;
      color: #fff;
    }
  }
}

.user-profile-image {
  cursor: pointer;
  width: 250px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.3s ease-out;
  text-align: center;
  border-radius: 50%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}