<div class="login-box">
  <h3 class="text-center mb-3">本人確認メール再送信</h3>

  <%= simple_form_for(resource, as: resource_name, url: user_confirmation_path(service_identifier: @service.identifier), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :confirmation_token %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.submit '本人確認メールを送信', class: %w[common-emphasis-button btn-block my-3] %>
    </div>

    <%= f.input :service_identifier, required: true, input_html: {value: @service.identifier, class: 'hidden'}, label: false %>
  <% end %>

  <%= render "services/users/shared/links" %>
</div>