<p><%= @resource.service.name %>への仮登録を受け付けました。</p>

<p>この時点では、本登録が完了しておりませんのでご注意ください。</p>

<p>以下の「本登録する」にアクセスして、本登録してください。</p>

<p><%= link_to '本登録する', confirmation_url(@resource, confirmation_token: @token, service_identifier: @resource.service.identifier) %></p>

<p><%= @resource.service.mail_signature&.gsub(/\R/, "<br>")&.html_safe %></p>