<p><%= @resource.service.name %>をご利用いただきまして誠にありがとうございます。</p>

<p>次のURLからパスワードをリセットしてください。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token, service_identifier: @resource.service.identifier) %></p>

<p><%= @resource.service.mail_signature&.gsub(/\R/, "<br>")&.html_safe %></p>