<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token, service_identifier: @resource.service.identifier) %></p>

<p><%= @resource.service.mail_signature&.gsub(/\R/, "<br>")&.html_safe %></p>