<h3 class="text-center mb-3">本人確認メール再送信</h3>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.submit '本人確認メールを送信', class: %w[btn btn-primary btn-lg btn-block] %>
  </div>
<% end %>

<%= render "providers/shared/links" %>
