<h3 class="text-center mb-3">パスワードリセット</h3>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.submit 'パスワードリセットメールを送信', class: %w[btn btn-primary btn-lg btn-block] %>
  </div>
<% end %>

<%= render "providers/shared/links" %>
