= render 'layouts/parts/manage_edit_service_flow'

.box.box-solid.mt-5
  .box-body
    = form_with scope: :service, url: manage_service_path(identifier: @service.identifier), method: :patch, local: true do |f|
      .mb-5
        %label= Service.human_attribute_name(:name)
        = f.text_field 'name', placeholder: 'サービス名', class: 'form-control', value: @service.name
      .mb-5
        %label= Service.human_attribute_name(:identifier)
        = f.text_field 'identifier', class: 'form-control', value: @service.identifier, disabled: true

      = f.submit '更新する', class: 'btn btn-primary'