-if current_provider.services.blank?
  =render 'layouts/parts/no_service_alert'
-else
  .box.box-solid
    .box-body
      %table.table.no-margin
        %thead
          %tr
            %th イメージ
            %th サービスID
            %th サービス名
            %th ステータス
        %tbody
          -current_provider.services.reverse_each do |service|
            %tr
              %td.w-120px
                -if service.logo_image.present?
                  = image_tag service.logo_image.url, class: 'w-100'
                -else
                  ロゴが設定されていません
              %td
                =service.identifier
              %td
                =service.name
              %td
                =service.status_i18n
              %td
                =link_to '設定', manage_service_path(service.identifier), class: 'btn btn-info mr-3'
                -if service.released?
                  = link_to service_path(service.identifier), class: 'btn btn-primary mr-3', target: '_blank' do
                    サービスへ移動
                =link_to '削除', manage_service_path(service.identifier), method: :delete, data: {confirm: '削除してもよろしいですか？'}, class: 'btn btn-danger'