= render 'layouts/parts/manage_new_service_flow'

.box.box-solid.mt-5
  .box-body
    = form_with scope: :service, url: manage_services_path, method: :post, local: true do |f|
      .mb-5
        %label= Service.human_attribute_name(:name)
        = f.text_field 'name', placeholder: 'サービス名', class: 'form-control', value: @service.name
      .mb-5
        %label= Service.human_attribute_name(:identifier)
        = f.text_field 'identifier', placeholder: '半角英数字および「-（ハイフン）」と「_（アンダーバー）」のみ可', class: 'form-control input-check', value: @service.identifier
        .text-info
          一度設定したサービスIDは後から変更できませんのでご注意ください

      = f.submit 'マッチング設定に進む', class: 'btn btn-primary', data: {confirm: '一度設定したサービスIDは後から変更できません。先に進みますか？'}