.box.box-solid
  .box-header.with-border
    %h3.box-title 基本情報
    =link_to edit_manage_service_path(@service.identifier), class: 'pull-right' do
      %i.fa.fa-pen
      %span 修正
  .box-body
    %dl
      %dt= Service.human_attribute_name(:name)
      %dd= @service.name
      %dt.mt-5= Service.human_attribute_name(:identifier)
      %dd= @service.identifier

.box.box-solid
  .box-header.with-border
    %h3.box-title マッチング設定
    =link_to edit_manage_service_matching_path(@service.identifier), class: 'pull-right' do
      %i.fa.fa-pen
      %span 修正
  .box-body
    %dl
      -#%dt= Service.human_attribute_name(:post_user)
      -#%dd= @service.post_user
      -#%dt= Service.human_attribute_name(:apply_user)
      -#%dd= @service.apply_user
      %dt= Service.human_attribute_name(:post_action)
      %dd= @service.post_action
      %dt.mt-5= Service.human_attribute_name(:apply_action)
      %dd= @service.apply_action
      -#%dt= Service.human_attribute_name(:post_object)
      -#%dd= @service.post_object
      %dt.mt-5 カテゴリー
      %dd
        %ul
          -@service.categories.each do |category|
            %li= category.name
      %dt.mt-5 タグ
      %dd
        %ul
          -@service.tags.each do |tag|
            %li= tag.name
      %dt.mt-5 募集アクションテンプレート
      %dd= "#{@service.post_templates.present? ? '設定あり' : '設定なし'}"

.box.box-solid
  .box-header.with-border
    %h3.box-title 価格設定
    =link_to edit_manage_service_price_path(@service.identifier), class: 'pull-right' do
      %i.fa.fa-pen
      %span 修正
  .box-body
    %dl
      %dt= Service.human_attribute_name(:transaction_payment)
      %dd= @service.transaction_payment ? '有効' : '無効'
      - if @service.transaction_payment
        %dt.mt-5= Service.human_attribute_name(:transaction_payment_type)
        %dd= @service.transaction_payment_type_i18n
        -#%dt.mt-5= Service.human_attribute_name(:transaction_payment_flat)
        -#%dd= @service.transaction_payment_flat ? '有効' : '無効'
        -# - if @service.transaction_payment_flat
        -#   %dt.mt-5= Service.human_attribute_name(:transaction_payment_price)
        -#   %dd= @service.transaction_payment_price
        %dt.mt-5= Service.human_attribute_name(:transaction_payment_margin)
        %dd= @service.transaction_payment_margin
      %hr
      %dt= Service.human_attribute_name(:subscription_payment)
      %dd= @service.subscription_payment ? '有効' : '無効'
      - if @service.subscription_payment
        %dt.mt-5= Service.human_attribute_name(:subscription_payment_limit_type)
        %dd= @service.subscription_payment_limit_type_i18n
      %hr
      - if @service.transaction_payment || @service.subscription_payment
        %dt= Service.human_attribute_name(:pay_jp_private_key)
        %dd= @service.pay_jp_private_key
        %dt.mt-5= Service.human_attribute_name(:pay_jp_public_key)
        %dd= @service.pay_jp_public_key
      - if @service.subscription_payment
        %dt= Service.human_attribute_name(:pay_jp_plan_id)
        %dd= @service.pay_jp_plan_id

.box.box-solid
  .box-header.with-border
    %h3.box-title 運営情報
    =link_to edit_manage_service_admin_path(@service.identifier), class: 'pull-right' do
      %i.fa.fa-pen
      %span 修正
  .box-body
    %dl
      %dt= Service.human_attribute_name(:admin_enable)
      %dd= @service.admin_enable ? '有効' : '無効'
      -if @service.admin_enable
        %dt.mt-5= Service.human_attribute_name(:admin_type)
        %dd= @service.admin_type_i18n
        -if @service.internal_link?
          %dt.mt-5= Service.human_attribute_name(:admin_name)
          %dd= @service.admin_name
          %dt.mt-5= Service.human_attribute_name(:admin_contact)
          %dd= @service.admin_contact
        -elsif @service.external_link?
          %dt.mt-5= Service.human_attribute_name(:admin_url)
          %dd= @service.admin_url

      %hr

      %dt= Service.human_attribute_name(:terms_enable)
      %dd= @service.terms_enable ? '有効' : '無効'
      -if @service.terms_enable
        %dt.mt-5= Service.human_attribute_name(:terms_content)
        %dd= ApplicationController.helpers.strip_tags(@service.terms_content).truncate(200)
      %dt.mt-5= Service.human_attribute_name(:privacy_policy_enable)
      %dd= @service.privacy_policy_enable ? '有効' : '無効'
      -if @service.privacy_policy_enable
        %dt.mt-5= Service.human_attribute_name(:privacy_policy_content)
        %dd= ApplicationController.helpers.strip_tags(@service.privacy_policy_content).truncate(200)
      %dt.mt-5= Service.human_attribute_name(:commercial_transaction_enable)
      %dd= @service.commercial_transaction_enable ? '有効' : '無効'
      -if @service.commercial_transaction_enable
        %dt.mt-5= Service.human_attribute_name(:commercial_transaction_content)
        %dd= ApplicationController.helpers.strip_tags(@service.commercial_transaction_content).truncate(200)

      %hr

      %dt= Service.human_attribute_name(:contact_form_enable)
      %dd= @service.contact_form_enable ? '有効' : '無効'
      -if @service.contact_form_enable
        %dt.mt-5= Service.human_attribute_name(:contact_form_mail)
        %dd= @service.contact_form_mail

      %hr

      %dt= Service.human_attribute_name(:mail_signature)
      %dd= "#{@service.mail_signature.present? ? '設定あり' : '設定なし'}"

.box.box-solid
  .box-header.with-border
    %h3.box-title LP設定
    =link_to edit_manage_service_lp_path(@service.identifier), class: 'pull-right' do
      %i.fa.fa-pen
      %span 修正
  .box-body
    %dl
      %dt= Service.human_attribute_name(:lp_enable)
      %dd= @service.lp_enable ? '有効' : '無効'
      -# -if @service.lp_enable
      -#   %dt.mt-5= Service.human_attribute_name(:lp_content)
      -#   %dd= @service.lp_content&.html_safe

.box.box-solid
  .box-header.with-border
    %h3.box-title UI・SEO
    =link_to edit_manage_service_ui_path(@service.identifier), class: 'pull-right' do
      %i.fa.fa-pen
      %span 修正
  .box-body
    %dl
      %dt= Service.human_attribute_name(:title)
      %dd
        - if @service.title.present?
          =@service.title
        - else
          設定なし
      %dt.mt-5= Service.human_attribute_name(:description)
      %dd
        - if @service.description.present?
          =h(@service.description).gsub(/\R/, "<br>").html_safe
        - else
          設定なし
      %dt.mt-5= Service.human_attribute_name(:logo_image)
      %dd
        - if @service.logo_image.present?
          =image_tag @service.logo_image.url, class: 'img-responsive'
      %dt.mt-5= Service.human_attribute_name(:ogp_image)
      %dd
        - if @service.ogp_image.present?
          =image_tag @service.ogp_image.url, class: 'img-responsive'
      %dt.mt-5= Service.human_attribute_name(:favicon_image)
      %dd
        - if @service.favicon_image.present?
          =image_tag @service.favicon_image.url, class: 'img-responsive'
      %dt.mt-5= Service.human_attribute_name(:main_color)
      %dd
        - if @service.main_color.present?
          %div{style: "background: #{@service.main_color};height: 100px;width: 200px;"}
      %dt.mt-5= Service.human_attribute_name(:ga_measurement_id)
      %dd
        - if @service.ga_measurement_id.present?
          = @service.ga_measurement_id
        - else
          設定なし

.box.box-solid
  .box-header.with-border
    %h3.box-title 公開設定
    =link_to edit_manage_service_release_path(@service.identifier), class: 'pull-right' do
      %i.fa.fa-pen
      %span 修正
  .box-body
    %dl
      %dt= Service.human_attribute_name(:status)
      %dd= @service.status_i18n