<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, label: 'ログイン情報を記憶する', as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= button_tag sanitize('<i class="fas fa-sign-in-alt"></i> ログイン'), type: 'submit', class: %w[btn btn-primary btn-lg btn-block] %>
  </div>
<% end %>

<%= render "providers/shared/links" %>
