<%- if controller_name != 'sessions' %>
  <%= link_to 'ログイン', new_user_session_path(service_identifier: @service.identifier), class: %w[common-normal-button text-center btn-block mt-3] %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to '新規登録', new_user_registration_path(service_identifier: @service.identifier), class: %w[common-normal-button text-center btn-block mt-3] %><br />
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to 'パスワードを忘れた方はこちら', new_user_password_path(service_identifier: @service.identifier), class: %w[common-gray-button text-center btn-block mt-3] %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to '本登録メールを再送信', new_user_confirmation_path(service_identifier: @service.identifier), class: %w[common-gray-button text-center btn-block mt-3] %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_user_unlock_path(service_identifier: @service.identifier) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>
