%ul.nav.nav-tabs
  %li{class: "#{'active' if current_page?(service_users_mypage_path)}"}
    =link_to '基本情報', service_users_mypage_path
  -if @service.transaction_payment?
    %li{class: "#{'active' if current_page?(service_users_bank_path)}"}
      =link_to '口座情報', service_users_bank_path
  -if @service.transaction_payment? || @service.subscription_payment?
    %li{class: "#{'active' if current_page?(service_users_payment_path)}"}
      =link_to 'クレジットカード情報', service_users_payment_path
  -if @service.subscription_payment?
    %li{class: "#{'active' if current_page?(service_users_plan_path)}"}
      =link_to 'プラン', service_users_plan_path
  -if current_user.posts.present?
    %li{class: "#{'active' if current_page?(service_own_posts_path(service_identifier: @service.identifier))}"}
      =link_to "#{@service.post_action}一覧", service_own_posts_path(service_identifier: @service.identifier)
  -if current_user.post_entries.present?
    %li{class: "#{'active' if current_page?(service_post_entries_path(service_identifier: @service.identifier))}"}
      =link_to "#{@service.apply_action}一覧", service_post_entries_path(service_identifier: @service.identifier)
  -if current_user.chat_members.present?
    %li{class: "alert-message-outer #{'active' if current_page?(service_chat_room_index_path(service_identifier: @service.identifier)) || (@chat_room.present? && service_chat_room_path(service_identifier: @service.identifier, identifier: @chat_room.identifier))}"}
      =link_to service_chat_room_index_path(service_identifier: @service.identifier) do
        .d-flex.justify-content-center
          チャット
          -if current_user.exist_unread_chat_message?
            %span.text-danger ●