.footer.pt-5.mt-5.border-top
  .container
    .footer-content.d-flex.flex-wrap.justify-content-center.align-items-center.py-5
      -if @service.admin_enable
        .border-right.text-center.px-4.my-2
          = link_to '運営情報', "#{@service.internal_link? ? service_service_admin_path(@service.identifier) : @service.admin_url}", target: "#{'_blank' if @service.external_link?}"
      -if @service.lp_enable
        .border-right.text-center.px-4.my-2
          = link_to 'サービスについて', service_service_lp_path(@service.identifier)
      -if @service.commercial_transaction_enable
        .border-right.text-center.px-4.my-2
          = link_to '特定商取引に関する表記', service_commercial_transaction_path(@service.identifier)
      -if @service.terms_enable
        .border-right.text-center.px-4.my-2
          = link_to '利用規約', service_service_term_path(@service.identifier)
      -if @service.privacy_policy_enable
        .border-right.text-center.px-4.my-2
          = link_to 'プライバシーポリシー', service_privacy_policy_path(@service.identifier)
      -if @service.contact_form_enable
        .border-right.text-center.px-4.my-2
          = link_to 'お問い合わせ', service_contact_path(@service.identifier)
    .row
      .col-md-12.text-center.mt-2.mb-5
        %p= "© #{@service.name} All rights reserved"