%meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
%meta{ content: 'IE=edge', 'http-equiv': 'X-UA-Compatible' }
%meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
%title= @service.name
-ogp_image_path = @service.ogp_image.url
-title = @service.title
-description = @service.description
%meta{content: "#{title.presence || @service.name}", property: 'og:title'}
%meta{content: "#{title.presence || @service.name}", name: 'twitter:title'}
%meta{content: description, name: 'description'}
%meta{content: description, property: 'og:description'}
%meta{content: description, name: 'twitter:description'}
%meta{content: 'summary', name: 'twitter:card'}
%meta{content: ogp_image_path, name: 'twitter:image'}
%meta{content: 'article', property: 'og:type'}
%meta{content: @service.name, property: 'og:site_name'}
%meta{content: 'ja_JP', property: 'og:locale'}
%meta{content: ogp_image_path, property: 'og:image'}
