.footer.pt-5.border-top.bg-white
  .container
    .footer-content.d-flex.flex-wrap.justify-content-center.align-items-center.py-5
      .border-left.border-right.text-center.px-4.my-2
        = link_to 'マッチングベースについて', service_lp_path
      .border-right.text-center.px-4.my-2
        = link_to '特定商取引に関する表記', commercial_transaction_path
      .border-right.text-center.px-4.my-2
        = link_to '利用規約', service_term_path
      .border-right.text-center.px-4.my-2
        = link_to 'プライバシーポリシー', privacy_policy_path
      .border-right.text-center.px-4.my-2
        = link_to 'お問い合わせ', contact_path
    .row
      .col-md-12.text-center.mt-2.mb-5
        %p ©MatchingBase. All rights reserved