%header.main-header
  %a.logo{ href: root_path }
    -#%span.logo-mini
    -#  = image_tag 'logo_mini.png', {class: 'img-responsive', alt: 'logo mini image'}
    .logo-lg.d-flex.justify-content-center.align-items-center.w-100.h-100
      = image_tag 'logo.png', {class: 'img-responsive', alt: 'logo image'}
  %nav.navbar.navbar-static-top.d-flex.align-items-center{ role: 'navigation' }
    .w-100
      %a.text-dark{ 'data-toggle': 'push-menu', href: '#', role: 'button' }
        %i.fas.fa-bars
    .w-100
      .pull-right
        - if provider_signed_in?
          = link_to 'ログアウト', destroy_provider_session_path, method: :delete, class: %w[btn btn-danger]