%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu{ 'data-widget': 'tree' }
      %li{ class: active_class(root_path) }
        %a{ href: root_path }
          %i.fa.fa-home
          %span ホーム
      %li{ class: active_class(new_manage_service_path) }
        %a{ href: new_manage_service_path }
          %i.fas.fa-plus
          %span サービス新規作成
      %li{ class: active_class(manage_services_path) }
        %a{ href: manage_services_path }
          %i.fas.fa-list
          %span サービス一覧
      %li{ class: active_class(manage_users_path) }
        %a{ href: manage_users_path }
          %i.fas.fa-users
          %span ユーザー管理
      %li{ class: active_class(manage_posts_path) }
        %a{ href: manage_posts_path }
          %i.fas.fa-pen
          %span 募集アクション管理
      %li{ class: active_class(manage_payments_path) }
        %a{ href: manage_payments_path }
          %i.fas.fa-yen-sign
          %span 支払い管理
          -payment_count = 0
          -current_provider.services.each do |service|
            -payment_count += service.post_entries.paid.count
          -if payment_count > 0
            %span.badge.alert-danger.m-0.text-center= payment_count
      %li{ class: active_class(providers_profile_path) }
        %a{ href: providers_profile_path }
          %i.fa.fa-user
          %span 登録情報
      -#%li{ class: active_class(how_to_path) }
      -#  %a{ href: how_to_path }
      -#    %i.fa.fa-question-circle-o
      -#    %span 使い方