#maintenanceModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title
          %i.fa.fa-exclamation-triangle
          メンテナンスのお知らせ
      .modal-body
        .small-box.bg-info
          .inner
            %h6.text-white
              =SystemControl.find_by(id: 1).message.html_safe

:javascript
  $('#maintenanceModal').modal({backdrop: 'static', keyboard: false, show: true})