!!!
%html
  %head
    = render partial: 'layouts/meta'
    = csrf_meta_tags
    = stylesheet_link_tag 'common/application', media: 'all'
    = stylesheet_link_tag 'service/application', media: 'all'
    = stylesheet_link_tag 'bootstrap/application', {media: 'all'}
    = javascript_include_tag 'common/application'
    = javascript_include_tag 'channels/application'
    = javascript_include_tag 'summer_note/application'
    = stylesheet_link_tag 'summer_note/application', {media: 'all'}
    = yield :scripts
    = yield :stylesheets
    - if @service.favicon_image.present?
      = favicon_link_tag(@service.favicon_image.url)
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/AdminLTE.min.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/skins/skin-black.min.css', rel: 'stylesheet', type: 'text/css' }
    %script{ src: 'http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/lang/summernote-ja-JP.js', type: 'text/javascript' }
    -if @service.ga_measurement_id.present?
      = render 'layouts/parts/ga_measurement'
  %body
    = render 'layouts/flash'
    .container
      .header.clearfix.mb-4
        %nav
          %ul.nav.nav-pills.pull-right.d-flex.justify-content-center.align-items-center
            =link_to "#{@service.post_action}する", new_service_post_path(service_identifier: @service.identifier), class: 'common-emphasis-button mr-3'
            - if user_signed_in? && current_user.service_identifier == @service.identifier
              = link_to service_users_mypage_path(service_identifier: @service.identifier), class: %w[common-normal-button mr-3 alert-message-outer] do
                %i.fa.fa-user
                マイページ
                -if current_user.exist_unread_chat_message?
                  %span.label.label-danger.alert-message 新着メッセージ
              = link_to destroy_user_session_path(service_identifier: @service.identifier), method: :delete, class: %w[common-gray-button header-logout] do
                %i.fas.fa-sign-out-alt
                ログアウト
            - else
              = link_to '新規登録', new_user_registration_path(service_identifier: @service.identifier), class: %w[common-normal-button mr-3 header-sign_up]
              = link_to new_user_session_path(service_identifier: @service.identifier), class: %w[common-normal-button] do
                %i.fas.fa-sign-in-alt
                ログイン
        .logo-section.mb-3.pr-5.d-flex.align-items-center
          -if @service.logo_image.present?
            = link_to service_path(@service.identifier) do
              =image_tag @service.logo_image.url
          -else
            = link_to @service.name, service_path(@service.identifier)
      = yield
    = render 'layouts/footer'
    %input.hidden#main_color{value: @service.main_color}
