!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ content: 'IE=edge', 'http-equiv': 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
    %title MatchingBase
    = csrf_meta_tags
    = stylesheet_link_tag 'provider_common/application', media: 'all'
    = stylesheet_link_tag 'bootstrap/application', {media: 'all'}
    = javascript_include_tag 'common/application'
    = javascript_include_tag 'util/application'
    = javascript_include_tag 'channels/application'
    = javascript_include_tag 'provider/application'
    = yield :scripts
    = yield :stylesheets
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/AdminLTE.min.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/skins/skin-black.min.css', rel: 'stylesheet', type: 'text/css' }
  %body.hold-transition.skin-black.sidebar-mini
    .wrapper
      = render 'layouts/provider_header'
      = render 'layouts/provider_sidebar'
      .content-wrapper
        -if current_provider.trial_expired_at >= Time.now
          .bg-white.text-center.p-2.border-top.border-bottom
            ="30日間無料トライアル中（#{Time.at(current_provider.trial_expired_at).strftime('%Y年%m月%d日')}まで）"
            -if current_provider.pay_jp_customer_id.blank?
              %br<>
              トライアル終了後も継続してご利用頂く場合は、
              =link_to 'こちら', providers_profile_path
              からお支払い情報をご登録ください。
              %br<>
              ※トライアル終了時にお支払い情報のご登録がない場合、設定されているサービスが停止いたしますのでご注意ください。
        = render 'layouts/flash'
        %section.content.container-fluid
          = render 'layouts/parts/breadcrumb'
          = yield
      = render 'layouts/provider_footer'
      = render 'layouts/parts/not_exist_subscription_modal' unless current_page?(providers_profile_path)
      -#= render 'layouts/provider_maintenance' if SystemControl.first.is_maintenance?
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.0/js/adminlte.min.js', type: 'text/javascript' }
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js', type: 'text/javascript' }