!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ content: 'IE=edge', 'http-equiv': 'X-UA-Compatible' }
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
    %title お問い合わせ｜MatchingBase
    = csrf_meta_tags
    = stylesheet_link_tag 'provider_common/application', media: 'all'
    = stylesheet_link_tag 'bootstrap/application', {media: 'all'}
    = javascript_include_tag 'common/application'
    = javascript_include_tag 'util/application'
    = yield :scripts
    = yield :stylesheets
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/AdminLTE.min.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/css/skins/skin-black.min.css', rel: 'stylesheet', type: 'text/css' }
  %body.hold-transition.skin-black.sidebar-mini.sidebar-collapse
    .w-250px.p-5
      =link_to root_path do
        = image_tag 'logo.png', {class: 'img-responsive', alt: 'logo image'}
    = render 'layouts/flash'
    = yield
    = render 'layouts/provider_footer'
    %script{ src: 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.10/js/adminlte.min.js', type: 'text/javascript' }