<div class="login-box">
  <h3 class="text-center mb-3">パスワードリセット</h3>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name, service_identifier: @service.identifier), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-inputs">
      <%= f.input :password,
                  label: "New password",
                  required: true,
                  autofocus: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: '確認用パスワード',
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <%= f.input :service_identifier, required: true, input_html: {value: @service.identifier, class: 'hidden'}, label: false %>

    <div class="form-actions">
      <%= f.submit 'パスワードをリセットする', class: %w[common-emphasis-button text-center btn-block mt-3] %>
    </div>
  <% end %>

  <%= render "services/users/shared/links" %>
</div>