<div class="login-box">
  <h3 class="text-center mb-3">パスワードリセット</h3>

  <%= simple_form_for(resource, as: resource_name, url: user_password_path(service_identifier: @service.identifier), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>

    <div class="form-actions">
      <%= f.submit 'パスワードリセットメールを送信', class: %w[common-emphasis-button text-center btn-block mt-3] %>
    </div>

    <%= f.input :service_identifier, required: true, input_html: {value: @service.identifier, class: 'hidden'}, label: false %>

  <% end %>

  <%= render "services/users/shared/links" %>
</div>